<div id="modal-content-wrapper">
    <header id="modal-header">
        <div class="row">            
            <div class="col-md-12">
                <h1 id="modal-title">{{modalData.title}}</h1>            
            </div>
        </div>
    </header>
    <mat-divider></mat-divider>
    <section id="modal-body">
        <div class="container">
            <form [formGroup]="SetProgramScheduleForm" >
                <div class="form-group font-weight-bold">                    
                    <div class="row">
                        <div class="col-md-2">
                            <label>Program Name</label>
                        </div>
                        <div class="col-md-10">
                            <input type="text" class="form-control" formControlName="programName" [(ngModel)]="modalData.name" readonly>
                        </div> 
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Date</label>
                        </div>                
                        <div class="col-md-1">
                            <label>Start:</label>
                        </div>                            
                        <div class="col-md-4">
                            <kendo-datepicker 
                                [(value)]="startDate"
                                (valueChange)="onChangeStartDate($event)"
                                [navigation]="false"
                                [disabled]="modalData.mode != 'newschedule' && modalData.mode != 'editschedule' 
                                        && modalData.mode != 'newadditionalsession' && modalData.mode != 'editadditionalsession' && modalData.mode != 'addblackoutdate'"
                                >                        
                            </kendo-datepicker>
                            <!-- <div class="errorMessage" *ngIf="startDateErrorMessage">
                                <mat-icon matListIcon>error</mat-icon>{{startDateErrorMessage}}
                            </div> -->
                        </div>
                        <div class="col-md-1" *ngIf="modalData.mode != 'newadditionalsession' && modalData.mode != 'editadditionalsession'">
                            <label>End:</label>
                        </div>
                        <div class="col-md-4" *ngIf="modalData.mode != 'newadditionalsession' && modalData.mode != 'editadditionalsession'">
                            <kendo-datepicker 
                                [(value)]="endDate" 
                                [min] = "startDate"
                                [navigation]="false"
                                (valueChange)="onChangeEndDate($event)"
                                [disabled]="modalData.mode != 'newschedule' && modalData.mode != 'editschedule' && modalData.mode != 'addblackoutdate'"
                                >
                            </kendo-datepicker>
                            <div class="errorMessage" *ngIf="endDateErrorMessage">
                                <mat-icon matListIcon>error</mat-icon>{{endDateErrorMessage}}
                            </div>
                        </div>   
                        <div class="errorMessage" *ngIf="newScheduleErrorMessage">
                            <mat-icon matListIcon>error</mat-icon>{{newScheduleErrorMessage}}
                        </div>
                    </div>
                    <br/>
                    <div class="row" *ngIf="modalData.mode == 'newschedule' || modalData.mode == 'editschedule'">
                        <div class="col-md-2">
                            <label>Schedule Name*</label>
                        </div>
                        <div class="col-md-10">
                            <input type="text" class="form-control" formControlName="scheduleName" 
                                [(ngModel)]="scheduleSettingName" placeholder="Ex: Summer 2019">
                            <div *ngIf="scheduleNameErrorMessage" class="errorMessage">
                                <mat-icon matListIcon>error</mat-icon>{{scheduleNameErrorMessage}}
                            </div>
                        </div> 
                    </div>
                    <div *ngIf="modalData.mode == 'newsession' || modalData.mode == 'editsession' 
                            || modalData.mode == 'newadditionalsession' || modalData.mode == 'editadditionalsession'">
                        <div class="row" >
                            <div class="col-md-2">
                                <label>Time</label>
                            </div>
                            <div class="col-md-1">
                                <label>Start:</label>
                            </div>                
                            <div class="col-md-4">                                
                                <kendo-timepicker
                                    [(value)]="startTime"
                                    (valueChange)="onChangeStartTime($event)"
                                    >
                                </kendo-timepicker>
                                <div class="errorMessage" *ngIf="startTimeErrorMessage">
                                    <mat-icon matListIcon>error</mat-icon>{{startTimeErrorMessage}}
                                </div>
                            </div>
                            <div class="col-md-1">
                                <label>End:</label>
                            </div>  
                            <div class="col-md-4">
                                <kendo-timepicker
                                    [(value)]="endTime"                                
                                    (valueChange)="onChangeEndTime($event)">
                                </kendo-timepicker>
                                <div class="errorMessage" *ngIf="endTimeErrorMessage">
                                    <mat-icon matListIcon>error</mat-icon>{{endTimeErrorMessage}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <div class="errorMessage" *ngIf="errorMessage">
                                    <mat-icon matListIcon>error</mat-icon>{{errorMessage}}
                                </div>  
                            </div>
                        </div>
                        <br/>            
                        <div class="row" *ngIf="modalData.mode != 'newadditionalsession' && modalData.mode != 'editadditionalsession'">
                            <div class="col-md-2">
                                <label>Repeat on</label>
                            </div>
                            <div class="col-md-10">
                                <kendo-buttongroup [selection]="'multiple'">
                                    <button 
                                        *ngFor="let day of dayArr"
                                        kendoButton
                                        [toggleable]="true"
                                        [selected]="day.selected"
                                        (selectedChange)="onChangeRepeatOnDay($event, day)"
                                    >
                                        {{ day.day }}
                                    </button>
                                </kendo-buttongroup>
                            </div>                
                        </div>
                        <div class="row" *ngIf="modalData.mode != 'newadditionalsession' && modalData.mode != 'editadditionalsession'">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <div class="errorMessage" *ngIf="repeatOnErrorMessage">
                                    <mat-icon matListIcon>error</mat-icon>{{repeatOnErrorMessage}}
                                </div>  
                            </div>
                        </div>
                    </div>
                    <br/> 
                    <div class="row" *ngIf="modalData.mode != 'newschedule' && modalData.mode != 'editschedule'">
                        <div class="col-md-2">
                            <label>Note</label>
                        </div>
                        <div class="col-md-10">
                            <textarea kendoTextArea class="form-control" 
                                formControlName="description" [(ngModel)]="eventDescription"></textarea>
                        </div>
                    </div>               
                </div>
            </form>
        </div>
    </section>
    <mat-divider></mat-divider>
    <footer id="modal-footer">
        <button mat-raised-button id="modal-action-button" (click)="setSchedule()">
            {{modalData.actionButtonText}}
        </button>
        
        <button *ngIf = "modalData.numberOfButton == '2'" mat-raised-button id="modal-cancel-button" (click)="closeModal()" onfocus="blur()">
            Cancel
        </button>
    </footer>
</div>