<!-- I read online about overwhelming users with too much info at once,
so I think it's a better idea to ask for their address info after they
finish checking out a program -->

<div class = "container">
    <div class = "header_title row">
        <h2 class = "title text-center"> Personal Info </h2>
    </div>
    <form [formGroup] = "customerInfoForm" (ngSubmit) = "finisRegister()" 
    ng-class="{submitted:this.submitted}" class="registerform">
    <div class = "contact_header_title row"> 
        <h5 class = "text-center text-dark mt-5 mb-3"> Contact Info </h5>
    </div>
    <div class = "form-group row">
        <label for = "fname" class="col-form-label col-sm-3 font-weight-bold"> First Name </label>
        <div class = "col">
        <input id = "fname" type = "string" class = "form-control" 
        formControlName="firstName" 
        [(ngModel)]="credentials.FirstName" [ngClass]="{ 'is-invalid': submitted && !customerInfoForm.get('firstName').valid}">
        <div *ngIf="submitted && !customerInfoForm.get('firstName').valid" 
        class = "warning"> <small>First name is required </small></div>
        </div> 
    </div>
    <div class = "form-group row">
        <label for = "fname" class="col-form-label col-sm-3 font-weight-bold"> Last Name </label>
        <div class = "col">
        <input id = "fname" type = "string" class = "form-control" 
        formControlName="lastName" 
        [(ngModel)]="credentials.LastName" [ngClass]="{ 'is-invalid': submitted && !customerInfoForm.get('lastName').valid}">
        <div *ngIf="submitted && !customerInfoForm.get('firstName').valid" 
        class = "warning"> <small>Last name is required </small></div>
        </div> 
    </div>
    <div class = "form-group row">
        <label for = "PhoneNo" class="col-form-label col-sm-3 font-weight-bold"> Phone Number </label>
        <div class = "col">
        <input type = "number" class = "form-control" 
        formControlName="phoneNum" 
        [(ngModel)]="credentials.PhoneNo" [ngClass]="{ 'is-invalid': submitted && !customerInfoForm.get('phoneNum').valid}">
        <div *ngIf="submitted && !customerInfoForm.get('phoneNum').valid" 
        class = "warning"> <small>Phone number is required </small></div>
        </div> 
    </div>
    <div class = "address_header_title row"> 
        <h5 class = "text-center text-dark mt-5 mb-3"> Address </h5>
    </div>

    <div class = "form-group row">
        <label for = "address" class="col-form-label col-sm-3 font-weight-bold"> Street Address </label>
        <div class = "col">
        <input type = "string" class = "form-control" 
        formControlName="address_street" 
        [(ngModel)]="credentials.Address" [ngClass]="{ 'is-invalid': submitted && !customerInfoForm.get('address_street').valid}">
        <div *ngIf="submitted && !customerInfoForm.get('address_street').valid" 
        class = "warning"> <small>Street Address is required </small></div>
        </div> 
    </div>

    <div class = "form-group row">
        <label for = "address2" class="col-form-label col-sm-3 font-weight-bold"> Line 2 </label>
        <div class = "col">
        <input type = "string" class = "form-control" 
        formControlName="address_unit" 
        [(ngModel)]="credentials.Address2">
        </div> 
    </div>

    <div class = "form-group row">
        <label for = "city" class="col-form-label col-sm-3 font-weight-bold"> City </label>
        <div class = "col">
        <input type = "string" class = "form-control" 
        formControlName="address_city" 
        [(ngModel)]="credentials.City" [ngClass]="{ 'is-invalid': submitted && !customerInfoForm.get('address_city').valid}">
        <div *ngIf="submitted && !customerInfoForm.get('address_city').valid" 
        class = "warning"> <small>City is required </small></div>
        </div> 
    </div>

    <div class = "form-group row">
        <label for = "state" class="col-form-label col-sm-3 font-weight-bold"> State </label>
        <div class = "col">
        <input type = "string" class = "form-control" 
        formControlName="address_state" 
        [(ngModel)]="credentials.State" [ngClass]="{ 'is-invalid': submitted && !customerInfoForm.get('address_state').valid}">
        <div *ngIf="submitted && !customerInfoForm.get('address_state').valid" 
        class = "warning"> <small>State is required </small></div>
        </div> 
    </div>

    <div class = "form-group row">
        <label for = "zipcode" class="col-form-label col-sm-3 font-weight-bold"> Zip Code </label>
        <div class = "col">
        <input type = "string" class = "form-control" 
        formControlName="address_zipcode" 
        [(ngModel)]="credentials.City" [ngClass]="{ 'is-invalid': submitted && !customerInfoForm.get('address_zipcode').valid}">
        <div *ngIf="submitted && !customerInfoForm.get('address_zipcode').valid" 
        class = "warning"> <small>Zip Code is required </small></div>
        </div> 
    </div>

    <div> 
        <h5 class = "title text-dark mt-5 mb-3"> Subscribe to Newsletter </h5>
    </div>
    <div class= "form-group checkbox row">
        <input class="col-sm-1 form-control" type="checkbox" (change)="checkBoxClicked()" >
        <label class="col-form-label col-sm-9 form-check-label" for="defaultCheck1">
            Check to subscribe to our newsletter </label>
    </div>
            <!-- </div> -->
        <!-- </div> -->
<!-- </div> -->
<div class = "d-flex submit_button flex-row-reverse"> 
    <button  class = "submit_btn btn btn-primary" [disabled] = "customerInfoForm.ng-invalid" type="submit"> Submit </button>
</div>
</form>


