.container {
    max-width: 720px;
    /* max-height: 1000px; */
    padding-top:120px;
    /* padding-left: 150px;
    padding-right: 200px; */
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    /* margin-bottom: auto; */
}

.user_info{
    padding-top: 20px;
}

.page_title{
    /* padding-left: -15px; */
    color: #08b2b8;
    /* margin-left: auto; */
    margin-left:auto;
    margin-right: auto;
    /* padding-left: -20px; */
}

.header_title{
    padding-left: 270px;
}

.contact_header_title{
    /* padding-left: 300px; */
    margin-left: auto;
    margin-right: auto;
}

.address_header_title{
    /* padding-left: 320px; */
    /* padding-left: 20rem; */
    margin-left: auto;
    margin-right: auto;
}

.location_info{
    margin: auto;
}

.address_info{
    padding-top:15px;
}

.submit_button{
    margin-right: 15px;
}

.checkbox{
    padding-top:10px;
    /* padding-left: 39px; */
    margin-left: auto;
}

  .form-check-label{
    font-size:17px;
    /* margin-left: 5px; */
  }

h1 {
    font-family: sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    padding-top: 20px;
    color: #0ebbff; 
  }

input.ng-touched.ng-invalid{ color: red; 
    border-color: red;}

.warning{
    color: red; 
}
