<div class = "banner">
    <div class = "container">
        <div class="d-flex justify-content-center h-100"></div>
            <div class = "card">
                <div class = "card-header">
                    <h3 class = "text_header text-center"> Personal Info </h3>
                </div>
                <div class = "card-body">
                <form [formGroup] = "customerInfoForm" (ngSubmit) = "openModal()" 
                ng-class="{submitted:this.submitted}" class="registerform">
                <div class = "contact_header_title row justify-content-center"> 
                    <h5 class = "text_header text-center mb-1"> </h5>
                </div>
                <div class = "input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><fa-icon [icon]="faAddressBook"></fa-icon></span>
                    </div>
                    <input id = "fname" type = "string" class = "form-control" placeholder = "First Name"
                    formControlName="firstName" 
                    [(ngModel)]="credentials.FirstName" [ngClass]="{ 'is-invalid': submitted && !customerInfoForm.get('firstName').valid}">
                    <div *ngIf="submitted && f.firstName.errors" class = "invalid-feedback"> 
                        <div *ngIf="f.firstName.errors.required">First name is required </div>
                    </div>
                </div>
                <div class = "input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><fa-icon [icon]="faAddressBook"></fa-icon></span>
                    </div>
                    <input id = "fname" type = "string" class = "form-control" placeholder = "Last Name" 
                    formControlName="lastName" 
                    [(ngModel)]="credentials.LastName" [ngClass]="{ 'is-invalid': submitted && !customerInfoForm.get('lastName').valid}">
                    <div *ngIf="submitted && f.lastName.errors" class = "invalid-feedback"> 
                        <div *ngIf="f.lastName.errors.required">Last name is required </div>
                    </div>
                </div>
                <div class = "input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><fa-icon [icon]="faPhoneSquare"></fa-icon></span>
                    </div>
                    <input type = "number" class = "form-control" placeholder = "Phone Number"
                    formControlName="phoneNum" 
                    [(ngModel)]="credentials.PhoneNo" [ngClass]="{ 'is-invalid': submitted && !customerInfoForm.get('phoneNum').valid}">
                    <div *ngIf="submitted && f.phoneNum.errors" class = "invalid-feedback"> 
                     <div *ngIf="f.phoneNum.errors.required">Phone number is required </div>
                     <div *ngIf="f.phoneNum.errors.min">Please enter a valid phone number </div>
                    </div>
                </div>
                <div class = "address_header_title row justify-content-center"> 
                    <h5 class = "text_header text-center mt-3 mb-3">  </h5>
                </div>
                <div class = "input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><fa-icon [icon]="faHome"></fa-icon></span>
                    </div>
                    <input type = "string" class = "form-control" placeholder = "Street Address"
                    formControlName="address_street" 
                    [(ngModel)]="credentials.Address" [ngClass]="{ 'is-invalid': submitted && !customerInfoForm.get('address_street').valid}">
                    <div *ngIf="submitted && f.address_street.errors" class = "invalid-feedback"> 
                        <div *ngIf="f.address_street.errors.required">Street address is required </div>
                    </div>
                </div>

                <!-- <div class = "input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><fa-icon [icon]="faHome"></fa-icon></span>
                    </div>
                    <input type = "string" class = "form-control" placeholder = "Line 2" 
                    formControlName="address_unit" 
                    [(ngModel)]="credentials.StreetAddress2">
                </div>  -->

                <div class = "input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><fa-icon [icon]="faMapPin"></fa-icon></span>
                    </div>
                    <input type = "string" class = "form-control" placeholder  = "City"
                    formControlName="address_city" 
                    [(ngModel)]="credentials.City" [ngClass]="{ 'is-invalid': submitted && !customerInfoForm.get('address_city').valid}">
                    <div *ngIf="submitted && f.address_city.errors" class = "invalid-feedback"> 
                        <div *ngIf="f.address_city.errors.required">City is required </div>
                    </div>
                </div>

                <div class = "input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><fa-icon [icon]="faMap"></fa-icon></span>
                    </div>
                    <input type = "string" class = "state form-control" maxlength = "2" placeholder = "State"
                    ng-keypressed="letterOnly(event)" formControlName="address_state"
                    [(ngModel)]="credentials.State" [ngClass]="{ 'is-invalid': submitted && !customerInfoForm.get('address_state').valid}">
                    <div *ngIf="submitted && f.address_state.errors" class = "invalid-feedback"> 
                        <div *ngIf="f.address_state.errors.required">State is required </div>
                        <div *ngIf="f.address_state.errors.minlength">Please enter a valid state</div>
                    </div>
                </div>

                <div class = "input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><fa-icon [icon]="faMapMarker"></fa-icon></span>
                    </div>
                    <input type = "number" class = "form-control" maxlength = "5" placeholder = "Zip Code"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    formControlName="address_zipcode" 
                    [(ngModel)]="credentials.Zipcode" [ngClass]="{ 'is-invalid': submitted && !customerInfoForm.get('address_zipcode').valid}">
                    <div *ngIf="submitted && f.address_zipcode.errors" class = "invalid-feedback"> 
                        <div *ngIf="f.address_zipcode.errors.required">Zip Code is required </div>
                        <div *ngIf="f.address_zipcode.errors.min">Please enter a valid zip code </div>
                    </div>
                </div>

                <div class = "row form-group checkbox text-break">
                    <mat-checkbox color = "primary" id="ckbox" name="ckbox" class = "form-control col-sm-2 p-0" (change) = "checkBoxClicked()">
                        Subscribe to our newsletter
                    </mat-checkbox>
                    <!-- <label for="ckbox" class="cb_label col-sm-8 text-break">Check to subscribe to our newsletter</label> -->
                </div>

            <div class = "d-flex submit_button flex-row-reverse"> 
                <button  class = "submit_btn btn btn-primary" [disabled] = "customerInfoForm.ng-invalid" type="submit" onfocus="blur()"> Submit </button>
            </div>
        </form>
        </div>
    </div>
    </div>
</div>

