.container {
    padding-top:120px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 50px;
}

.user_info{
    padding-top: 20px;
}

.title{
    padding-left: -15px;
    color: #0ebbff;
}

.location_info{
    margin: auto;
}

.address_info{
    padding-top:15px;
}

.submit_button{
    margin-right: 15px;
}

.checkbox{
    padding-top:10px;
    padding-left: 39px;
}

input[type=checkbox] {
    transform: scale(1.5);
  }

  .form-check-label{
    font-size:17px;
    margin-left: 5px;
  }

h1 {
    font-family: sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    padding-top: 20px;
    color: #0ebbff; 
  }

input.ng-touched.ng-invalid{ color: red; 
    border-color: red;}

.warning{
    color: red; 
}
