html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 50px;
    font-weight: bold;
    padding-top: 20px;
    color: #08b2b8; 
}

.my-pagination /deep/ .ngx-pagination .current {
    background: red;
}

/* Overwrite the styles of the mat-dialog-container element globally, but only for those
that have an id of `modal-component` */
/* https://stackoverflow.com/a/48689004/9263761 */
/* mat-dialog-container#modal-component {
    border: 3px solid #262626;
    border-radius: 11px;
    background-color: #1a1a1a;
} */