<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">{{modalData.title}}</h1>
    </header>
    <mat-divider></mat-divider>
    <section id="modal-body">
        <!-- <p text-center> Are you sure you would like to register with the following information? </p> -->
        <p><b>First Name: </b>{{modalData.firstName}} </p>
        <p> <b>Last Name: </b>{{modalData.lastName}} </p>
        <p> <b>Phone Number: </b>{{modalData.phoneNo}} </p>
        <p mt-3> <b>Street Address: </b>{{modalData.streetAddress}} </p>
        <p> <b>Line 2: </b>{{modalData.streetAddress2}} </p>
        <p> <b>City: </b>{{modalData.addressCity}} </p>
        <p> <b>State: </b>{{modalData.addressState}} </p>
        <p> <b>Zip Code: </b>{{modalData.addressZipCode}} </p>
    </section>
    <mat-divider></mat-divider>
    <footer id="modal-footer">
        <button mat-raised-button id="modal-action-button" (click)="actionFunction()">
            {{modalData.actionButtonText}}
        </button>
        <button *ngIf = "modalData.numberOfButton == '2'" mat-raised-button id="modal-cancel-button" (click)="closeModal()" onfocus="blur()">
            Cancel
        </button>
    </footer>
</div>