<div class="container">
  <div class="row">
    <div class="col-md-12 text-center m-0">
      <h1> Confirmation </h1>
    </div>
  </div>
  <hr>

  <!-- Program name  -->
  <div class="row text-left m-0">
    <div class="col-md-12">
      <h4>Program Information</h4>
    </div>
    <div class="col-md-12">
      <ul class="list row">
        <li class="list-item col-md-12"><b>Name:</b> {{ProgramName}} </li>
      </ul>
    </div>
  </div>
  <hr>

  <!-- General Information -->
  <div class="row text-left m-0">
    <div class="col-md-12">
      <h4>General Information</h4>
    </div>
    <div class="col-md-12">
      <ul class="list row">
        <li class="list-item col-md-12"><b>Date:</b>{{customerSelectDate}} </li>
        <li class="list-item col-md-12"><b>Time:</b>{{customerSelectTime}}</li>
        <!-- <li class="list-item col-md-12"><b>Quantity:</b> </li> -->
      </ul>
    </div>
  </div>
  <hr>

  <div class="row text-left m-0">
    <div class="col-md-12">
      <h4>Reservation Information</h4>
    </div>
    <div class="col-md-12">
      <ng-container *ngIf= "ProgramType == 0">
        <ul class="list row">
          <li class="list-item col-md-12"><b>Program Restriction:</b>{{reservationDetails.ProgramRestriction}} </li>
          <li class="list-item col-md-12"><b>Organization Name:</b> {{reservationDetails.OrganizationName}}</li>
          <li class="list-item col-md-12"><b>Grade Level:</b> {{reservationDetails.GradeLevel}}</li>
          <li class="list-item col-md-12"><b>Teacher Name:</b> {{reservationDetails.TeacherName}}</li>
          <li class="list-item col-md-12"><b>Teacher Email:</b>{{reservationDetails.TeacherEmail}}</li>
          <li class="list-item col-md-12"><b>Teacher Phone Number:</b>{{reservationDetails.TeacherPhoneNo}} </li>
          <li class="list-item col-md-12"><b>Alternative Date:</b> {{reservationDetails.AlternativeDate}}</li>
          <li class="list-item col-md-12"><b>Education Purpose:</b> {{reservationDetails.EducationPurpose}}</li>
        </ul>
        </ng-container>
      <ng-container *ngIf= "ProgramType == 1">
        <ul class="list row" >
          <li class="list-item col-md-12"><b>Participant Name:</b>{{reservationDetails.ParticipantName}}  </li>
          <li class="list-item col-md-12"><b>Participant Age:</b>{{reservationDetails.ParticipantAge}}  </li>
          <li class="list-item col-md-12"><b>Gender:</b> {{reservationDetails.Gender}} </li>
          <li class="list-item col-md-12"><b>T-Shirt Size:</b>{{reservationDetails.MerchSize}}  </li>
          <li class="list-item col-md-12"><b>Allergy Information:</b>{{reservationDetails.AllergyInfo}}  </li>
          <li class="list-item col-md-12"><b>Special Information:</b> {{reservationDetails.SpecialInfo}} </li>
          <li class="list-item col-md-12"><b>Insurance Provider Name:</b> {{reservationDetails.InsureProviderName}} </li>
          <li class="list-item col-md-12"><b>Insured Recipient Name:</b>{{reservationDetails.InsureRecipientName}}  </li>
          <li class="list-item col-md-12"><b>Insurance Policy Number:</b> {{reservationDetails.InsurePolicyNo}} </li>
          <li class="list-item col-md-12"><b>Insurance Phone Number:</b>{{reservationDetails.InsurePhoneNo}}  </li>
          <li class="list-item col-md-12"><b>Authorized Pickup Name 1:</b> {{reservationDetails.AuthorizedPickupName1}} </li>
          <li class="list-item col-md-12"><b>Authorized Pickup Phone 1:</b>{{reservationDetails.AuthorizedPickupPhone1}}  </li>
          <li class="list-item col-md-12"><b>Authorized Pickup Name 2:</b>{{reservationDetails.AuthorizedPickupName2}}  </li>
          <li class="list-item col-md-12"><b>Authorized Pickup Phone 2:</b> {{reservationDetails.AuthorizedPickupPhone2}} </li>
          <li class="list-item col-md-12"><b>Early Drop Off:</b>{{reservationDetails.EarlyDropOff}}  </li>
          <li class="list-item col-md-12"><b>Late Pick-up:</b>{{reservationDetails.LatePickup}}  </li>
          <li class="list-item col-md-12"><b>Media Release:</b> {{reservationDetails.MediaRelease}} </li>
          <li class="list-item col-md-12"><b>Emergency Medical Release:</b>{{reservationDetails.EmergencyMedicalRelease}}  </li>
          <li class="list-item col-md-12"><b>Liability Argreement:</b>{{reservationDetails.LiabilityAgreement}}  </li>
        </ul>
      </ng-container>
    
    </div>
  </div>
  <hr>
</div>