<div class="container">
  <div class="row">
    <div class="col-md-12 text-center m-0">
      <h1> {{ProgramName}} </h1>
    </div>
  </div>

  <!-- Program name  -->
 <!--  <div class="table-responsive-sm hide-with-small">
    <table class="table table-hover" style="width:100%">
        <thead>
            <tr>
                <th style="width:60%"> Program Information </th>
                <th style="width:40%">  </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td class="name">{{ProgramName}}</td>
            </tr>
        </tbody>
    </table>
  </div> -->

  <!-- General Information -->
  <div class="table-responsive-sm">
    <table class="table table-hover" style="width:100%">
        <thead>
            <tr>
                <th style="width:60%">General Information</th>
                <th style="width:40%">  </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Date</td>
                <td class="name">{{customerSelectDate}}</td>
            </tr>
            <tr>
              <td>Time</td>
              <td class="name">{{customerSelectTime}}</td>
            </tr>
            <tr>
              <td>Type</td>
              <td class="name" *ngIf= "ProgramType == 0">Group</td>
              <td class="name" *ngIf= "ProgramType == 1">Individual</td>
            </tr>
        </tbody>
    </table>
  </div>

  <!-- Reservation Info -->
  <div class="table-responsive-sm">
    <table class="table table-hover" style="width:100%">
        <thead>
            <tr>
                <th style="width:60%">Reservation Information</th>
                <th style="width:40%">  </th>
            </tr>
        </thead>
        <tbody *ngIf= "ProgramType == 0">
          <tr>
              <td>Program Restriction</td>
              <td class="name">{{reservationDetails.ProgramRestriction}}</td>
          </tr>
          <tr>
            <td>Organization Name</td>
            <td class="name">{{reservationDetails.OrganizationName}}</td>
          </tr>
          <tr>
            <td>Grade Level</td>
            <td class="name">{{reservationDetails.GradeLevel}}</td>
          </tr>
          <tr>
            <td>Teacher Name</td>
            <td class="name">{{reservationDetails.TeacherName}}</td>
          </tr>
          <tr>
            <td>Teacher Email</td>
            <td class="name">{{reservationDetails.TeacherEmail}}</td>
          </tr>
          <tr>
            <td>Teacher Phone Number</td>
            <td class="name">{{reservationDetails.TeacherPhoneNo}}</td>
          </tr>
          <tr>
            <td>Alternative Date</td>
            <td class="name">{{reservationDetails.AlternativeDate}}</td>
          </tr>
          <tr>
            <td>Education Purpose</td>
            <td class="name">{{reservationDetails.EducationPurpose}}</td>
          </tr>
        </tbody>
        <tbody *ngIf= "ProgramType == 1">
          <tr>
              <td>Participant Name</td>
              <td class="name">{{reservationDetails.ParticipantName}}</td>
          </tr>
          <tr>
            <td>Participant Age</td>
            <td class="name">{{reservationDetails.ParticipantAge}}</td>
          </tr>
          <tr>
            <td>Gender</td>
            <td class="name">{{reservationDetails.Gender}}</td>
          </tr>
          <tr>
            <td>T-Shirt Size</td>
            <td class="name">{{reservationDetails.MerchSize}}</td>
          </tr>
          <tr>
            <td>Allergy Information</td>
            <td class="name">{{reservationDetails.AllergyInfo}}</td>
          </tr>
          <tr>
            <td>Special Information</td>
            <td class="name">{{reservationDetails.SpecialInfo}}</td>
          </tr>
          <tr>
            <td>Insurance Provider Name</td>
            <td class="name">{{reservationDetails.InsureProviderName}}</td>
          </tr>
          <tr>
            <td>Insured Recipient Name</td>
            <td class="name">{{reservationDetails.InsureRecipientName}}</td>
          </tr>
          <tr>
            <td>Insurance Policy Number</td>
            <td class="name">{{reservationDetails.InsurePolicyNo}}</td>
          </tr>
          <tr>
            <td>Insurance Phone Number</td>
            <td class="name">{{reservationDetails.InsurePhoneNo}}</td>
          </tr>
          <tr>
            <td>Authorized Pickup Name 1</td>
            <td class="name">{{reservationDetails.AuthorizedPickupName1}}</td>
          </tr>
          <tr>
            <td>Authorized Pickup Phone 1</td>
            <td class="name">{{reservationDetails.AuthorizedPickupPhone1}}</td>
          </tr>
          <tr>
            <td>Authorized Pickup Name 2</td>
            <td class="name">{{reservationDetails.AuthorizedPickupName2}}</td>
          </tr>
          <tr>
            <td>Authorized Pickup Phone 2</td>
            <td class="name">{{reservationDetails.AuthorizedPickupPhone2}}</td>
          </tr>
          <tr>
            <td>Early Drop Off</td>
            <td class="name">{{reservationDetails.EarlyDropOff}}</td>
          </tr>
          <tr>
            <td>Late Pick-up</td>
            <td class="name">{{reservationDetails.LatePickup}}</td>
          </tr>
          <tr>
            <td>Media Release</td>
            <td class="name">{{reservationDetails.MediaRelease}}</td>
          </tr>
          <tr>
            <td>Emergency Medical Release</td>
            <td class="name">{{reservationDetails.EmergencyMedicalRelease}}</td>
          </tr>
          <tr>
            <td>Liability Argreement</td>
            <td class="name">{{reservationDetails.LiabilityAgreement}}</td>
          </tr>
      </tbody>
    </table>
  </div>

  <!-- Payment Info -->
  <div class="table-responsive-sm">
    <table class="table table-hover" style="width:100%">
        <thead>
            <tr>
                <th style="width:60%">Payment Information</th>
                <th style="width:40%">  </th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>Total Quantity</td>
              <td class="name"></td>
            </tr>
            <tr>
              <td>Total Amount</td>
              <td class="name"></td>
            </tr>
            <!-- Deposit needs ngIf here for group program only -->
            <tr *ngIf= "ProgramType == 0">
              <td>Deposit Amount Due Today</td>
              <td class="name"></td>
            </tr>
        </tbody>
    </table>
  </div>
</div>