.container {
    padding-top: 100px;
    padding-bottom: 56px;
  }

.row{
  padding-top: 10px;
  padding-left: 14px;
  padding-right: 21px;
  padding-bottom: 0px;
}

.form-check-label{
  padding-left: 10px;
}

h6{
  /* max-width: 400px; */
}

.form_checkbox{
  padding-left: 40px;
}

.form-group.card{
  padding-top: 7px;
  padding-left: 7px;
}

label{
  padding-bottom: 10px;
}