.container {
    padding-top: 100px;
    padding-bottom: 56px;
  }

  
  h1 {
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 50px;
    font-weight: bold;
    padding-top: 20px;
    color: #08b2b8; 
}

.row{
  padding-top: 10px;
  padding-left: 14px;
  padding-right: 21px;
  padding-bottom: 0px;
}

.form-check-label{
  padding-left: 10px;
}

.form_checkbox{
  padding-left: 40px;
}

.form-group.card{
  padding-top: 7px;
  padding-left: 7px;
}

label{
  padding-bottom: 10px;
}