<div class="container">
    <div class="row text-left">
            <h1 id="program_name"></h1>
    </div>
    <hr>

    <div class="row">
      <div id="program_desc"></div>
    </div>
    <hr>

    <div  *ngIf = "!ProgramType" class="row mt-4 mb-5">
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div>
          <div class="form-group font-weight-bold">
            <label>Current Selected Program</label>
            <input type="text" class="form-control" name="SelectedProgramName" disabled>
          </div>
        </div>
        <div>
          <div class="form-group font-weight-bold">
            <label>Availability </label>
            <input type="number" class="form-control" name="Availability" disabled>
          </div>
        </div>
        <form [formGroup]="createProgramForm" (submit)="enterQuantity()" enctype="multipart/form-data">
          <h3>Enter Quantity</h3>

          <div class="form-group font-weight-bold">
            <label>Adult Quantity</label>
            <input type="number" min="0" class="form-control" formControlName="AdultQuantity"  value="0"
                [ngClass]="{'is-invalid': submitted && f.AdultQuantity.errors }" (focus)="onFocus($event)" (blur)="lostFocus($event)">
            <div *ngIf="submitted && f.AdultQuantity.errors" class="invalid-feedback">
                <div *ngIf="f.AdultQuantity.errors.required">Adult Quantity is required</div>
                <div *ngIf="f.AdultQuantity.errors.min">Must be from 0 and up.</div>
            </div>
          </div> 

          <div class="form-group font-weight-bold">
            <label>Age 5-7 Quantity</label>
            <input type="number" min="0" class="form-control" formControlName="Age57Quantity" value="0"
                [ngClass]="{'is-invalid': submitted && f.Age57Quantity.errors }" (focus)="onFocus($event)" (blur)="lostFocus($event)">
            <div *ngIf="submitted && f.Age57Quantity.errors" class="invalid-feedback">
                <div *ngIf="f.Age57Quantity.errors.required">Age 5-7 Quantity is required</div>
                <div *ngIf="f.Age57Quantity.errors.min">Must be from 0 and up.</div>
            </div>
          </div> 

          <div class="form-group font-weight-bold">
            <label>Age 8-10 Quantity</label>
            <input type="number" min="0" class="form-control" formControlName="Age810Quantity"  value="0"
                [ngClass]="{'is-invalid': submitted && f.Age810Quantity.errors }" (focus)="onFocus($event)" (blur)="lostFocus($event)">
            <div *ngIf="submitted && f.Age810Quantity.errors" class="invalid-feedback">
                <div *ngIf="f.Age810Quantity.errors.required">Age 8-10 Quantity is required</div>
                <div *ngIf="f.Age810Quantity.errors.min">Must be from 0 and up.</div>
            </div>
          </div> 

          <div class="form-group font-weight-bold">
            <label>Age 11-12 Quantity</label>
            <input type="number" min="0" class="form-control" formControlName="Age1112Quantity"  value="0"
                [ngClass]="{'is-invalid': submitted && f.Age1112Quantity.errors }" (focus)="onFocus($event)" (blur)="lostFocus($event)">
            <div *ngIf="submitted && f.Age1112Quantity.errors" class="invalid-feedback">
                <div *ngIf="f.Age1112Quantity.errors.required">Age 11-12 Quantity is required</div>
                <div *ngIf="f.Age1112Quantity.errors.min">Must be from 0 and up.</div>
            </div>
          </div> 

          <div class="form-group font-weight-bold">
            <label>Age 13-14 Quantity</label>
            <input type="number" min="0" class="form-control" formControlName="Age1314Quantity"  value="0"
                [ngClass]="{'is-invalid': submitted && f.Age1314Quantity.errors }" (focus)="onFocus($event)" (blur)="lostFocus($event)">
            <div *ngIf="submitted && f.Age1314Quantity.errors" class="invalid-feedback">
                <div *ngIf="f.Age1314Quantity.errors.required">Age 13-14 Quantity is required</div>
                <div *ngIf="f.Age1314Quantity.errors.min">Must be from 0 and up.</div>
            </div>
          </div> 

          <div class="form-group font-weight-bold">
            <label>Age 14-15 Quantity</label>
            <input type="number" min="0" class="form-control" formControlName="Age1415Quantity" value="0"
                [ngClass]="{'is-invalid': submitted && f.Age1415Quantity.errors }" (focus)="onFocus($event)" (blur)="lostFocus($event)">
            <div *ngIf="submitted && f.Age1415Quantity.errors" class="invalid-feedback">
                <div *ngIf="f.Age1415Quantity.errors.required">Age 14-15 Quantity is required</div>
                <div *ngIf="f.Age1415Quantity.errors.min">Must be from 0 and up.</div>
            </div>
          </div> 

          <div class="form-group font-weight-bold">
            <label>Age 15-17 Quantity</label>
            <input type="number" min="0" class="form-control" formControlName="Age1517Quantity" value="0"
                [ngClass]="{'is-invalid': submitted && f.Age1517Quantity.errors }" (focus)="onFocus($event)" (blur)="lostFocus($event)">
            <div *ngIf="submitted && f.Age1517Quantity.errors" class="invalid-feedback">
                <div *ngIf="f.Age1517Quantity.errors.required">Age 15-17 Quantity is required</div>
                <div *ngIf="f.Age1517Quantity.errors.min">Must be from 0 and up.</div>
            </div>
          </div> 

          <div class="button pt-1 pb-1">
            <button class="btn btn-lg btn-info btn-block" type="submit">Enter</button>
          </div>
        </form>
      </div>

      <div class="col-lg-1 col-md-1 col-sm-12"></div>

      <div class="col-lg-8 col-md-7 col-sm-12">
        <h3> Schedule </h3>
        <div class="row filter mb-5">
            <kendo-scheduler
              [kendoSchedulerBinding]="allEvents"
              [eventClass]="getEventClass"
              (eventClick)="eventClick($event)"
              [modelFields]="eventFields"
              [selectedDate]="selectedDate"
              style="height: 700px; width: 1500px">            
            <kendo-scheduler-week-view [startTime]="startTime">
            <ng-template kendoSchedulerEventTemplate let-event>
              {{ event.dataItem.Title }} 
            </ng-template>
            </kendo-scheduler-week-view>
            <kendo-scheduler-month-view> </kendo-scheduler-month-view>                        
          </kendo-scheduler>
        </div>
      </div>
      
    </div>

    <!-- <div *ngIf = "ProgramType" class="row mb-3 mt-4">
        <h3 class = "mb-5"> Schedule </h3>
        <kendo-scheduler
                [kendoSchedulerBinding]="allEvents"
                [selectedDate]="selectedDate"
                style="height: 500px; width: 1500px">
        <kendo-scheduler-day-view [startTime]="startTime">
        </kendo-scheduler-day-view>
        <kendo-scheduler-week-view [startTime]="startTime">
        </kendo-scheduler-week-view>
        <kendo-scheduler-month-view> </kendo-scheduler-month-view>
        <kendo-scheduler-timeline-view> </kendo-scheduler-timeline-view>
        <kendo-scheduler-agenda-view> </kendo-scheduler-agenda-view>
      </kendo-scheduler>
    </div> -->

    <div class="row">
        <a *ngIf = "ProgramType" [routerLink] = "['/booking-individual-program', ProgramPK]" class="align-self-end btn btn-outline-info">Book Now!</a>
        <a *ngIf = "!ProgramType" [routerLink] = "['/booking-group-program', ProgramPK]" class="align-self-end btn btn-outline-info">Book Now!</a>
    </div>

</div>