<div id="modal-content-wrapper" style="text-align: center;">
    <header id="modal-header">
        <button type="button" class="close" (click)="actionFunction()">X</button>
        <h1 id="modal-title">PAY NOW</h1>
        <h2><img class="logo" src="https://static1.squarespace.com/static/5bb6555ef8135a760bccc650/t/5bb657c153450a81182db75a/1585949118301/" alt="" style="height:40px; width: 90px;"></h2>
    </header>

    <mat-divider></mat-divider>
    <section id="modal-body">
        

    </section>
    
</div>