<div id="modal-content-wrapper" style="text-align: center;">
    <header id="modal-header">
        <button type="button" class="close" (click)="closeModal()" onfocus="blur()">X</button>
        <div class="alert alert-success alert-dismissible fade show mb-0">
            <strong>Booking Successful!</strong> Please check your email for a confirmation detail.
            <button type="button" close="close" data-dismiss="alert">&times;</button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show mb-0">
            <strong>Error!</strong>Make sure all infomation is correct.
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h2><img class="logo" src="https://static1.squarespace.com/static/5bb6555ef8135a760bccc650/t/5bb657c153450a81182db75a/1585949118301/" alt="" style="height:40px; width: 90px;"></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>PAY NOW</h3>
                    <br/>
                </div>
            </div>
        </div>
    </header>

    <mat-divider></mat-divider>
    <br/>
    <section id="modal-body" style="text-align: left;">
        <div class="row">
            <div class="col-md-3">
                <img src="https://d.newsweek.com/en/full/1527843/plastic-animals.jpg?w=1600&h=1600&q=88&f=d90c0c03cfbc70880a2b5453405fb374" style="height: 100px;width: 100px;" alt="">
            </div>
            <div class="col-md-7">
                <p><strong>Change the life of the sea</strong>
                <br>Date: June 20,2020
                <br>Paticiant: Alice Nguyen
                </p>
            </div>
        </div>
        <br/>
        <mat-divider></mat-divider>
        <br/>
        <div class="row">
            <div class="col-md-3">
                <p><strong>Account</strong></p>
            </div>
            <div class="col-md-7">
                <p>Username: annie
                <br>1234 Bison St, Irvine, CA 92626
                <br>(714)123-4567
            </div>
        </div>
        <mat-divider></mat-divider>
        <br/>
        <div class="row">
            <div class="col-md-3">
                <p><strong>Pay with</strong></p>
            </div>
            <div class="col-md-7">
                <p>Visa *1234</p>
            </div>
        </div>
        <mat-divider></mat-divider>
        <br/>
        <div class="row">
            <div class="col-md-3">
                <p><strong>Total</strong></p>
            </div>
            <div class="col-md-7">
                <p>$200
                <br>(includes tax)
                </p>           
            </div>
            <div class="col-md-12">
                <p style="font-size:14px;">By placing your reservation, you agree to PMMC's 
                    <a href="https://www.pacificmmc.org/privacy-policy">Privacy Policy</a> and
                    <a href="https://www.pacificmmc.org/terms-of-use">Term of Use.</a></p>
            </div>
        </div>
        <mat-divider></mat-divider>
        <br/>
    </section>
    <footer id ="modal-footer">
        <button mat-raised-button id="modal-action-button" onfocus="blur()" style="float:right"> Place Order</button>
        <button mat-raised-button id="modal-cancel-button" class="btn-warning" (click)="closeModal()" onfocus="blur()" style="float:left"> Cancel</button>
    </footer>
</div>