<div class="container">

  <mat-horizontal-stepper linear labelPosition="bottom" #stepper>
    <!-- PICK SCHEDULE STEPPER -->
    <mat-step [stepControl]="quantityForm">
      <ng-template matStepLabel>Pick The Schedule</ng-template>
      <div class="row text-left m-0">
        <h1>{{programName}}</h1>
      </div>
      <hr>
      <div class="row m-0">
        <div [innerHTML]="programDesc | safeHtml"></div>
      </div>
      <hr>
      <form [formGroup]="quantityForm">
        <div class="row mt-4 mb-5">
          <div class="col-lg-8 col-md-7 col-sm-12 pr-5">
            <h3> Schedule </h3>
            <div class="row filter m-0 mb-5">
              <kendo-scheduler [kendoSchedulerBinding]="allEvents" [eventClass]="getEventClass"
                (eventClick)="eventClick($event)" [modelFields]="eventFields" [showWorkHours]="true"
                [selectedDate]="selectedDate" style="height: 850px; width: 1500px">
                <kendo-scheduler-week-view [startTime]="startTime">
                  <ng-template kendoSchedulerEventTemplate let-event>
                    {{ event.dataItem.Title }}
                  </ng-template>
                </kendo-scheduler-week-view>
                <kendo-scheduler-month-view> </kendo-scheduler-month-view>
              </kendo-scheduler>
            </div>
          </div>
          <div class="col-lg-4 col-md-5 col-sm-12">
            <div>
              <div class="form-group font-weight-bold ">
                <label>Selected Date</label>
                <input type="text" class="form-control" formControlName="CustomerSelectDate" readonly>
              </div>
            </div>
            <div>
              <div class="form-group font-weight-bold ">
                <label>Selected Time</label>
                <input type="text" class="form-control" formControlName="CustomerSelectTime" readonly>
              </div>
            </div>
            <div>
              <div class="form-group font-weight-bold">
                <label>Availability </label>
                <input type="number" class="form-control" formControlName="Availability" readonly>
              </div>
            </div>
            <div *ngIf="ProgramType" class="button pt-1 pb-1">
              <button *ngIf="!auth.isLoggedIn()" class="btn btn-lg btn-info btn-block" (click)="openLoginModal()"> Book </button>
              <button *ngIf="auth.isLoggedIn()" class="btn btn-lg btn-info btn-block" (click)="quantityProgramStepperNext(stepper,'i')" type="button"> Next </button>
            </div>

            <ng-container *ngIf="ProgramType == 0">
              <h3>Enter Quantity</h3>

              <div class="form-group font-weight-bold row">
                <label class="col-sm-7 col-form-label">Adult Quantity</label>
                <div class="col-sm-5">
                  <input type="number" min="0" class="form-control" formControlName="AdultQuantity" value="0"
                    [ngClass]="{'is-invalid': f.AdultQuantity.errors }" (focus)="onFocus($event)"
                    (blur)="lostFocus($event)" required>
                  <div *ngIf="f.AdultQuantity.errors" class="invalid-feedback">
                    <div *ngIf="f.AdultQuantity.errors.required">It's required</div>
                    <div *ngIf="f.AdultQuantity.errors.min">From 0 and up.</div>
                  </div>
                </div>
              </div>

              <div class="form-group font-weight-bold row">
                <label class="col-sm-7 col-form-label">Age 5-7 Quantity</label>
                <div class="col-sm-5">
                  <input type="number" min="0" class="form-control" formControlName="Age57Quantity" value="0"
                    [ngClass]="{'is-invalid': f.Age57Quantity.errors }" (focus)="onFocus($event)"
                    (blur)="lostFocus($event)" required>
                  <div *ngIf="f.Age57Quantity.errors" class="invalid-feedback">
                    <div *ngIf="f.Age57Quantity.errors.required">It's required</div>
                    <div *ngIf="f.Age57Quantity.errors.min">From 0 and up.</div>
                  </div>
                </div>
              </div>

              <div class="form-group font-weight-bold row">
                <label class="col-sm-7 col-form-label">Age 8-10 Quantity</label>
                <div class="col-sm-5">
                  <input type="number" min="0" class="form-control" formControlName="Age810Quantity" value="0"
                    [ngClass]="{'is-invalid': f.Age810Quantity.errors }" (focus)="onFocus($event)"
                    (blur)="lostFocus($event)" required>
                  <div *ngIf="f.Age810Quantity.errors" class="invalid-feedback">
                    <div *ngIf="f.Age810Quantity.errors.required">It's required</div>
                    <div *ngIf="f.Age810Quantity.errors.min">From 0 and up.</div>
                  </div>
                </div>
              </div>

              <div class="form-group font-weight-bold row">
                <label class="col-sm-7 col-form-label">Age 11-12 Quantity</label>
                <div class="col-sm-5">
                  <input type="number" min="0" class="form-control" formControlName="Age1112Quantity" value="0"
                    [ngClass]="{'is-invalid': f.Age1112Quantity.errors }" (focus)="onFocus($event)"
                    (blur)="lostFocus($event)" required>
                  <div *ngIf="f.Age1112Quantity.errors" class="invalid-feedback">
                    <div *ngIf="f.Age1112Quantity.errors.required">It's required</div>
                    <div *ngIf="f.Age1112Quantity.errors.min">From 0 and up.</div>
                  </div>
                </div>
              </div>

              <div class="form-group font-weight-bold row">
                <label class="col-sm-7 col-form-label">Age 13-14 Quantity</label>
                <div class="col-sm-5">
                  <input type="number" min="0" class="form-control" formControlName="Age1314Quantity" value="0"
                    [ngClass]="{'is-invalid': f.Age1314Quantity.errors }" (focus)="onFocus($event)"
                    (blur)="lostFocus($event)" required>
                  <div *ngIf="f.Age1314Quantity.errors" class="invalid-feedback">
                    <div *ngIf="f.Age1314Quantity.errors.required">It's required</div>
                    <div *ngIf="f.Age1314Quantity.errors.min">From 0 and up.</div>
                  </div>
                </div>
              </div>

              <div class="form-group font-weight-bold row">
                <label class="col-sm-7 col-form-label">Age 14-15 Quantity</label>
                <div class="col-sm-5">
                  <input type="number" min="0" class="form-control" formControlName="Age1415Quantity" value="0"
                    [ngClass]="{'is-invalid': f.Age1415Quantity.errors }" (focus)="onFocus($event)"
                    (blur)="lostFocus($event)" required>
                  <div *ngIf="f.Age1415Quantity.errors" class="invalid-feedback">
                    <div *ngIf="f.Age1415Quantity.errors.required">It's required</div>
                    <div *ngIf="f.Age1415Quantity.errors.min">From 0 and up.</div>
                  </div>
                </div>
              </div>

              <div class="form-group font-weight-bold row">
                <label class="col-sm-7 col-form-label">Age 15-17 Quantity</label>
                <div class="col-sm-5">
                  <input type="number" min="0" class="form-control" formControlName="Age1517Quantity" value="0"
                    [ngClass]="{'is-invalid': f.Age1517Quantity.errors }" (focus)="onFocus($event)"
                    (blur)="lostFocus($event)" required>
                  <div *ngIf="f.Age1517Quantity.errors" class="invalid-feedback">
                    <div *ngIf="f.Age1517Quantity.errors.required">It's required</div>
                    <div *ngIf="f.Age1517Quantity.errors.min">From 0 and up.</div>
                  </div>
                </div>
              </div>
              <div class="form-group font-weight-bold row">
                <label class="col-sm-7 col-form-label">Total Quantity</label>
                <div class="col-sm-5">
                  <input type="number" min="1" class="form-control" formControlName="TotalQuantity" value="0" readonly
                    [ngClass]="{'is-invalid': f.TotalQuantity.errors }" required>
                  <div *ngIf="f.TotalQuantity.errors" class="invalid-feedback">
                    <div *ngIf="f.TotalQuantity.errors.min">Must be at least 1 person.</div>
                    <div *ngIf="f.TotalQuantity.errors.max">Must be smaller than the Availability</div>
                  </div>
                </div>
              </div>
              <div class="button pt-1 pb-1">
                <button *ngIf="!auth.isLoggedIn()" class="btn btn-lg btn-info btn-block" (click)="openLoginModal()">
                  Book </button>
                <button *ngIf="auth.isLoggedIn()" class="btn btn-lg btn-info btn-block" (click)="quantityProgramStepperNext(stepper,'g')" type="button"> Next </button>
              </div>
              <!-- </form> -->
            </ng-container>
          </div>
        </div>
      </form>
    </mat-step>
    <!-- END PICK SCHEDULE STEPPER -->

    <!-- INPUT INFORMATION STEPPER -->
    <mat-step [stepControl]="registerForm">
      <ng-template matStepLabel>Input The Information</ng-template>
      <div class="row text-left">
        <h1>{{programName}}</h1>
      </div>
      <hr>
      <!-- Quantity Part -->
      <div class="row text-left">
        <div class="col-md-12">
          <h4> Quantity Information: </h4>
        </div>
      </div>
      <div class="col-md-12">
        <ul class="list row">
          <li class="list-item col-md-6">Adult Quantity: {{quantityForm.value.AdultQuantity}} </li>
          <li class="list-item col-md-6">Age 5-7 Quantity: {{quantityForm.value.Age57Quantity}}</li>
          <li class="list-item col-md-6">Age 8-10 Quantity: {{quantityForm.value.Age810Quantity}}</li>
          <li class="list-item col-md-6">Age 11-12 Quantity: {{quantityForm.value.Age1112Quantity}}</li>
          <li class="list-item col-md-6">Age 13-14 Quantity: {{quantityForm.value.Age1314Quantity}}</li>
          <li class="list-item col-md-6">Age 14-15 Quantity: {{quantityForm.value.Age1415Quantity}}</li>
          <li class="list-item col-md-6">Age 15-17 Quantity: {{quantityForm.value.Age1517Quantity}}</li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- <h6> Total Quantity : {{quantityForm.TotalQuantity}} </h6> -->
        </div>
      </div>
      <hr>
      <div class="row text-left">
        <div class="col-md-12">
          <h4> Please fill out the form: </h4>
        </div>
      </div>
      <p id="final_warning"></p>

      <!-- GROUP PROGRAM SECTION -->
      <ng-container *ngIf="ProgramType == 0">
        <form id="registerForm" [formGroup]="registerForm">
          <div class="container">
            <!-- Organization Name -->
            <fieldset class="form-group font-weight-bold" *ngIf="bookingGroup.OrganizationName">
              <div class="row">
                <label class="col-form-label col-sm-2" for="OrganizationName">School Name: </label>
                <div class="col-sm-10">
                  <input class="form-control" type="text" placeholder="" formControlName="OrganizationName"
                    [ngClass]="{'is-invalid': g.OrganizationName.errors }">
                  <div *ngIf="g.OrganizationName.errors" class="invalid-feedback">
                    <div *ngIf="g.OrganizationName.errors.required">This is required</div>
                    <div *ngIf="g.OrganizationName.errors.minlength">Must be at least 3 characters long.</div>
                  </div>
                </div>
              </div>
            </fieldset>
            <!-- Teacher Name -->
            <fieldset class="form-group font-weight-bold" *ngIf="bookingGroup.TeacherName">
              <div class="row">
                <label class="col-form-label col-sm-2" for="TeacherName">Teacher Name: </label>
                <div class="col-sm-10">
                  <input class="form-control" type="text" placeholder="" formControlName="TeacherName"
                    [ngClass]="{'is-invalid': g.TeacherName.errors }">
                  <div *ngIf="g.TeacherName.errors" class="invalid-feedback">
                    <div *ngIf="g.TeacherName.errors.required">This is required</div>
                    <div *ngIf="g.TeacherName.errors.minlength">Must be at least 3 characters long.</div>
                  </div>
                </div>
              </div>
            </fieldset>
            <!-- Teacher Email -->
            <fieldset class="form-group font-weight-bold" *ngIf="bookingGroup.TeacherEmail">
              <div class="row">
                <label class="col-form-label col-sm-2" for="TeacherEmail">Teacher Email: </label>
                <div class="col-sm-10">
                  <input class="form-control" type="email" formControlName="TeacherEmail"
                    [ngClass]="{ 'is-invalid': g.TeacherEmail.errors }" />
                  <div *ngIf="g.TeacherEmail.errors" class="invalid-feedback">
                    <div *ngIf="g.TeacherEmail.errors.required">Email is required</div>
                  </div>
                </div>
              </div>
            </fieldset>
            <!-- Teacher Phone Number -->
            <fieldset class="form-group font-weight-bold" *ngIf="bookingGroup.TeacherPhoneNo">
              <div class="row">
                <label class="col-form-label col-sm-2" for="TeacherPhoneNo">Teacher Phone Number: </label>
                <div class="col-sm-10">
                  <input class="form-control" type="number" placeholder="xxx-xxx-xxxx" formControlName="TeacherPhoneNo"
                    [ngClass]="{ 'is-invalid': g.TeacherPhoneNo.errors }" />
                  <div *ngIf="g.TeacherPhoneNo.errors" class="invalid-feedback">
                    <div *ngIf="g.TeacherPhoneNo.errors.required">This is required</div>
                    <div *ngIf="g.TeacherPhoneNo.errors.min">Please enter a valid phone number</div>
                    <!-- <div *ngIf="f.TeacherPhoneNo.errors.pattern">Invalid Phone Number</div> -->
                  </div>
                </div>
              </div>
            </fieldset>
            <!-- Alternative Date -->
            <fieldset class="form-group font-weight-bold" *ngIf="bookingGroup.AlternativeDate">
              <div class="row">
                <label class="col-form-label col-sm-2" for="AlternativeDate">Alternative Date: </label>
                <div class="col-sm-10">
                  <input class="form-control" type="text" formControlName="AlternativeDate"
                    [ngClass]="{ 'is-invalid': g.AlternativeDate.errors }" />
                  <div *ngIf="g.AlternativeDate.errors" class="invalid-feedback">
                    <div *ngIf="g.AlternativeDate.errors.required">Alternative Date is required</div>
                  </div>
                </div>
              </div>
            </fieldset>
            <!-- Grade Level  -->
            <fieldset class="form-group font-weight-bold" *ngIf="bookingGroup.GradeLevel">
              <div class="row">
                <label class="col-form-label col-sm-2" for="GradeLevel">Grade Level: </label>
                <div class="col-sm-10">
                  <select class="form-control" formControlName="GradeLevel"
                    [ngClass]="{ 'is-invalid': g.GradeLevel.errors }">
                    <option>Kindergarten </option>
                    <option>1st</option>
                    <option>2nd</option>
                    <option>3rd</option>
                    <option>4th</option>
                    <option>5th</option>
                    <option>6th</option>
                    <option>7th</option>
                    <option>8th</option>
                    <option>9th</option>
                    <option>10th</option>
                    <option>11th</option>
                    <option>12th</option>
                  </select>
                  <div *ngIf="submitted && g.GradeLevel.errors" class="invalid-feedback">
                    <div *ngIf="g.GradeLevel.errors.required">This is required</div>
                  </div>
                </div>
              </div>
            </fieldset>
            <!-- Program Restriction  -->
            <fieldset class="form-group font-weight-bold" *ngIf="bookingGroup.ProgramRestriction">
              <div class="row">
                <label class="col-form-label col-sm-2" for="ProgramRestriction">Are you a Title One School? </label>
                <div class="col-sm-10">
                  <select class="form-control" formControlName="ProgramRestriction"
                    [ngClass]="{ 'is-invalid': g.ProgramRestriction.errors }">
                    <option>No </option>
                    <option>Yes</option>
                  </select>
                  <div *ngIf="submitted && g.ProgramRestriction.errors" class="invalid-feedback">
                    <div *ngIf="g.ProgramRestriction.errors.required">This is required</div>
                  </div>
                </div>
              </div>
            </fieldset>
            <!-- Education Purpose  -->
            <fieldset class="form-group font-weight-bold" *ngIf="bookingGroup.EducationPurpose">
              <div class="row">
                <label class="col-form-label col-sm-2" for="EducationPurpose">Education Purpose </label>
                <div class="col-sm-10">
                  <input class="form-control" type="text" formControlName="EducationPurpose"
                    [ngClass]="{ 'is-invalid': g.EducationPurpose.errors }" />
                  <div *ngIf="g.EducationPurpose.errors" class="invalid-feedback">
                    <div *ngIf="g.EducationPurpose.errors.required">Education Purpose is required</div>
                  </div>
                </div>
              </div>
            </fieldset>
            <div class="btn_row row flex-end">
              <button class="btn btn-lg btn-info btn-block" matStepperPrevious type="button"> Back </button>
              <button class="btn btn-lg btn-info btn-block" (click)="registerStepperNext(stepper)" type="button"> Next
              </button>

            </div>
          </div>
        </form>
      </ng-container>
      <!-- END GROUP PROGRAM SECTION -->

      <!-- INDIVIDUAL PROGRAM SECTION -->
      <ng-container *ngIf="ProgramType == 1">
        <form id="registerForm" [formGroup]="registerForm">
          <div class="container">
            <fieldset class="form-group font-weight-bold" *ngIf = "bookingIndividual.ParticipantName">
              <div class="row">
                <label class="col-form-label col-sm-2" for="ParticipantName">Participant Name:</label>
                <div class="col-sm-10">
                  <input class="form-control" type="text" placeholder="Full name" formControlName="ParticipantName" 
                  [ngClass]="{'is-invalid': g.ParticipantName.errors }">
                  <div *ngIf="g.ParticipantName.errors" class="invalid-feedback">
                    <div *ngIf="g.ParticipantName.errors.required">Paticipant Name is required</div>
                    <div *ngIf="g.ParticipantName.errors.minlength">Must be at least 3 characters long.</div>
                  </div>
                </div>
              </div>
            </fieldset>
            <!-- Participant Age -->
            <fieldset class="form-group font-weight-bold" *ngIf = "bookingIndividual.ParticipantAge">
              <div class="row">
                <label class="col-form-label col-sm-2" for="ParticipantAge">Participant Age: </label>
                <div class="col-sm-10">
                  <input class="form-control" type="number" min = "5" max = "18" placeholder="" formControlName="ParticipantAge"
                        [ngClass]="{'is-invalid': g.ParticipantAge.errors }">
                  <div *ngIf="g.ParticipantAge.errors" class="invalid-feedback">
                    <div *ngIf="g.ParticipantAge.errors.required">Paticipant Age is required</div>
                  </div>
                </div>
              </div>
            </fieldset>
            <!-- Gender -->
            <fieldset class="form-group font-weight-bold" *ngIf = "bookingIndividual.Gender">
              <div class="row">
                <label class="col-form-label col-sm-2" for="Gender">Gender: </label>
                <div class="col-sm-10">
                  <select class="form-control" formControlName="Gender"
                          [ngClass]="{ 'is-invalid': g.Gender.errors }">
                  <option>Male</option>
                  <option>Female</option>
                </select>
                <div *ngIf="g.Gender.errors" class="invalid-feedback">
                  <div *ngIf="g.Gender.errors.required">Gender is required</div>
                </div>
                </div>
              </div>
            </fieldset>
            <!-- T-Shirt Size -->
            <fieldset class="form-group font-weight-bold" *ngIf = "bookingIndividual.MerchSize">
              <div class="row">
                <label class="col-form-label col-sm-2" for="MerchSize">T-Shirt Size: </label>
                <div class="col-sm-10">
                  <select class="form-control" formControlName="MerchSize"
                          [ngClass]="{ 'is-invalid':g.MerchSize.errors }">
                    <option>Youth Small</option>
                    <option>Youth Medium</option>
                    <option>Youth Large</option>
                    <option>Youth X Large</option>
                    <option>Adult Small</option>
                    <option>Adult Medium</option>
                    <option>Adult Large</option>
                  </select>
                  <div *ngIf="g.MerchSize.errors" class="invalid-feedback">
                    <div *ngIf="g.MerchSize.errors.required">Gender is required</div>
                  </div>
                </div>
              </div>
            </fieldset>
            <!-- Allergy Info -->
              <div class="form-group font-weight-bold" *ngIf = "bookingIndividual.AllergyInfo">
                <label for="AllergyInfo">Allergy Information: </label>
                <textarea class="form-control" formControlName="AllergyInfo" rows="3"></textarea>
              </div>
        
              <div class="form-group font-weight-bold" *ngIf = "bookingIndividual.SpecialInfo">
                <label for="SpecialInfo">Special Information: </label>
                <textarea class="form-control" formControlName="SpecialInfo" rows="3"></textarea>
              </div>
              <div class="form-group card bg-light font-weight-bold pl-3" *ngIf = "bookingIndividual.MediaRelease">
                <label for="MediaRelease">Media Release: </label>
                <div class="media_release row">
                  <p> I hereby authorize the Pacific Marine Mammal Center to take and possibly use pictures of my child as advertising on our website at www.pacificmmc.org.</p>
                  <p> I HAVE READ AND UNDERSTOOD ALL OF THE INFORMATION WRITTEN AND BY CHECKING THIS BOX, I AGREE TO ADHERE TO THE TERMS OF THIS DOCUMENT.</p>
                </div>
                <div class = "form_checkbox row">
                  <input class="form-check-input" type="checkbox" value="" formControlName="MediaRelease"
                          [ngClass]="{ 'is-invalid':g.MediaRelease.errors }">
                  <label class="form-check-label" for="MediaRelease">
                    I agree.
                  </label>
                  <div *ngIf="g.MediaRelease.errors" class="invalid-feedback">Accept Media Release is required</div>
                </div>
              </div>
              <div class="form-group card bg-light font-weight-bold" *ngIf = "bookingIndividual.EmergencyMedicalRelease">
                <label for="EmergencyMedicalRelease">Emergency Medical Release: </label>
                <div class="row">
                  <p>In case of emergency, the Pacific Marine Mammal Center will make every effort to contact the guardians of the child involved before any treatment has begun. However, in the event we are unable to contact you, the guardians, we require this medical release to be signed for all participants in the program.</p>
                  <h6>I HEREBY AUTHORIZE THE PHYSICIAN OR HOSPITAL SELECTED BY THE PACIFIC MARINE MAMMAL CENTER TO HOSPITILIZE, SECURE TREATMENT FOR, AND ORDER INJECTION, ANESTHESIA, OR SURGERY FOR MY CHILD.</h6>
                  <p>It is further understood that if you check this box, you will assume full responsibility for any such treatment, including the payment of all costs, and will hold the Pacific Marine Mammal Center, its representatives, directors, counselors and staff, harmless.</p>
                  <p>In the event of an evacuation emergency, I give permission for PMMC to transport my child to the following safety evacuation location:</p>
                  <p>Geneva Presbyterian Church
                    24301 El Toro Rd, Laguna Woods, CA 92637</p>
                  <h6>I HAVE READ AND UNDERSTOOD ALL OF THE INFORMATION WRITTEN AND BY CHECKING THIS BOX, I AGREE TO ADHERE TO THE TERMS OF THIS DOCUMENT. IT IS FURTHER UNDERSTOOD THAT POLICIES AND TERMS OF THIS DOCUMENT MAY BE CHANGED AND AMENDED AS NEEDED AND THAT I SHALL BE INFORMED, IN WRITING, OF SUCH CHANGES.</h6>
                </div>
                <div class = "form_checkbox row">
                  <input class="form-check-input" type="checkbox" value="" formControlName="EmergencyMedicalRelease"
                          [ngClass]="{ 'is-invalid':g.EmergencyMedicalRelease.errors }">
                  <label class="form-check-label" for="EmergencyMedicalRelease">
                    I agree.
                  </label>
                  <div *ngIf="g.EmergencyMedicalRelease.errors" class="invalid-feedback">Accept Emergency Medical Release is required</div>
                </div>
              </div>
              <div class="form-group card bg-light font-weight-bold" *ngIf = "bookingIndividual.LiabilityAgreement">
                <label for="LiabilityAgreement">Liability Agreement: </label>
                <div class="row">
                  <p>I hereby acknowledge that I am the parent or legal guardian of the child who I have registered to participate in services and programs offered by Pacific Marine Mammal Center.  I recognize that children at play may suffer injuries despite adequate supervision. I know of the risks involved, accept them, and I nonetheless have voluntarily enrolled my child at Pacific Marine Mammal Center.</p>
                  <p>I hereby grant the Pacific Marine Mammal Center (PMMC) and news media outlets permission to use my child’s photograph or video in any and all of their publications. I hereby irrevocably authorize them to edit, alter, copy, exhibit, publish or distribute the photo or video for any lawful purpose.</p>
                  <p>In consideration of the services rendered by Pacific Marine Mammal Center, I agree that I, my heirs, executors, assigns, beneficiaries, or anyone claiming by or through me will not make a claim against, sue, attach the property of, or prosecute Pacific Marine Mammal Center, its employees, officers, directors, agents, servants, or volunteers for injury or damage resulting from the negligence or other acts, howsoever caused, connected to, arising out of, or as a result of, the provision of its services and programs, or my child's receipt of said services or participation in said programs.</p>
                  <p>In addition, I hereby release and discharge Pacific Marine Mammal Center from all causes of action, claims, or demands that I, my heirs, executors, assigns, beneficiaries, or anyone claiming by or through me many now have or may hereafter have for injury or damage resulting from my child's participation in Pacific Marine Mammal Center’s programs and services.</p>
                  <p>I further agree to indemnify, defend, and to hold harmless Pacific Marine Mammal Center arising out of any claims and demands whether made by or on behalf of my child or any other per-son or entity for either injuries to my child's person or property, or arising out of claims that my child's actions caused injury or damage to another person or property, whether or not such claims, injuries and damages were in fact caused or contributed to by Pacific Marine Mammal Center.</p>
                </div>
                <div class = "form_checkbox row">
                  <input class="form-check-input" type="checkbox" value="" formControlName="LiabilityAgreement"
                          [ngClass]="{ 'is-invalid': g.LiabilityAgreement.errors }">
                  <label class="form-check-label" for="LiabilityAgreement">
                    I agree.
                  </label>
                  <div *ngIf="g.LiabilityAgreement.errors" class="invalid-feedback">Accept Liability Agreement is required</div>
                </div>
              </div>
              <!-- Name of Insurance Carrier -->
              <fieldset class="form-group font-weight-bold" *ngIf = "bookingIndividual.InsureProviderName">
                <div class="row">
                  <label class="col-form-label col-sm-3" for="InsureProviderName">Name of Insurance Carrier: </label>
                  <div class="col-sm-9">
                    <input class="form-control" type="text" placeholder="" formControlName="InsureProviderName"
                        [ngClass]="{ 'is-invalid': g.InsureProviderName.errors }">
                    <div *ngIf="g.InsureProviderName.errors" class="invalid-feedback">
                      <div *ngIf="g.InsureProviderName.errors.required">Insurance Carrier's Name is required</div>
                      <div *ngIf="g.InsureProviderName.errors.minlength">Must be at least 3 characters long.</div>
                    </div> 
                  </div>
                </div>
              </fieldset>
              <!-- Name of Insured Child -->
              <fieldset class="form-group font-weight-bold" *ngIf = "bookingIndividual.InsureRecipientName">
                <div class="row">
                  <label class="col-form-label col-sm-3" for="InsureRecipientName">Name of Insured Child:  </label>
                  <div class="col-sm-9">
                    <input class="form-control" type="text" placeholder="" formControlName="InsureRecipientName"
                        [ngClass]="{ 'is-invalid':g.InsureRecipientName.errors }">
                    <div *ngIf="g.InsureRecipientName.errors" class="invalid-feedback">
                      <div *ngIf="g.InsureRecipientName.errors.required">Insurance Recipient's Name is required</div>
                      <div *ngIf="g.InsureRecipientName.errors.minlength">Must be at least 3 characters long.</div>
                    </div>
                  </div>
                </div>
              </fieldset>
        
              <!-- Insurance Policy Number -->
              <fieldset class="form-group font-weight-bold" *ngIf = "bookingIndividual.InsurePolicyNo">
                <div class="row">
                  <label class="col-form-label col-sm-3" for="InsurePolicyNo">Insurance Policy Number:  </label>
                  <div class="col-sm-9">
                    <input class="form-control" type="text" placeholder="" formControlName="InsurePolicyNo"
                        [ngClass]="{ 'is-invalid': g.InsurePolicyNo.errors }">
                    <div *ngIf="g.InsurePolicyNo.errors" class="invalid-feedback">
                      <div *ngIf="g.InsurePolicyNo.errors.required">Insurance Policy Number is required</div>
                      <div *ngIf="g.InsurePolicyNo.errors.minlength">Please enter correct Policy number</div>
                      <!-- <div *ngIf="f.InsurePolicyNo.errors.pattern">Invalid Number</div> -->
                    </div>
                  </div>
                </div>
              </fieldset>
              <!-- Insurance Phone Number -->
              <fieldset class="form-group font-weight-bold" *ngIf = "bookingIndividual.InsurePhoneNo">
                <div class="row">
                  <label class="col-form-label col-sm-3" for="InsurePhoneNo">Insurance Phone Number:  </label>
                  <div class="col-sm-9">
                    <input class="form-control" type="number" placeholder="xxx-xxx-xxxx" formControlName="InsurePhoneNo"
                        [ngClass]="{ 'is-invalid':g.InsurePhoneNo.errors }">
                    <div *ngIf="g.InsurePhoneNo.errors" class="invalid-feedback">
                      <div *ngIf="g.InsurePhoneNo.errors.required">Insurance Phone Number is required</div>
                      <div *ngIf="g.InsurePhoneNo.errors.maxLength">Please enter a valid phone number</div>
                      <!-- <div *ngIf="f.InsurePhoneNo.errors.pattern">Invalid Phone Number</div> -->
                    </div>
                  </div>
                </div>
              </fieldset>
              <!-- Authorized Pickup Name 1 -->
              <fieldset class="form-group font-weight-bold" *ngIf = "bookingIndividual.AuthorizedPickupName1">
                <div class="row">
                  <label class="col-form-label col-sm-3" for="AuthorizedPickupName1">Authorized Pick Up Name #1: </label>
                  <div class="col-sm-9">
                    <input class="form-control" type="text" placeholder="Full name" formControlName="AuthorizedPickupName1"
                        [ngClass]="{ 'is-invalid': g.AuthorizedPickupName1.errors }">
                    <div *ngIf="g.AuthorizedPickupName1.errors" class="invalid-feedback">
                      <div *ngIf="g.AuthorizedPickupName1.errors.required">Authorized Pickup Name is required</div>
                      <div *ngIf="g.AuthorizedPickupName1.errors.minlength">Must be at least 3 characters long.</div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <!-- Authorized Pickup Phone 1 -->
              <fieldset class="form-group font-weight-bold" *ngIf = "bookingIndividual.AuthorizedPickupPhone1">
                <div class="row">
                  <label class="col-form-label col-sm-3" for="AuthorizedPickupPhone1">Authorized Pick Up Phone Number #1: </label>
                  <div class="col-sm-9">
                    <input class="form-control" type="number" placeholder="xxx-xxx-xxxx" formControlName="AuthorizedPickupPhone1" 
                        [ngClass]="{ 'is-invalid': g.AuthorizedPickupPhone1.errors }">
                    <div *ngIf="g.AuthorizedPickupPhone1.errors" class="invalid-feedback">
                      <div *ngIf="g.AuthorizedPickupPhone1.errors.required">Authorized Pickup Phone is required</div>
                      <div *ngIf="g.AuthorizedPickupPhone1.errors.maxLength">Please enter a valid phone number</div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <!-- Authorized Pickup Name 2 -->
              <fieldset class="form-group font-weight-bold" *ngIf = "bookingIndividual.AuthorizedPickupName2">
                <div class="row">
                  <label class="col-form-label col-sm-3" for="AuthorizedPickupName2">Authorized Pick Up Name #2: </label>
                  <div class="col-sm-9">
                    <input class="form-control" type="text" placeholder="Full name" formControlName="AuthorizedPickupName2"
                        [ngClass]="{ 'is-invalid': g.AuthorizedPickupName2.errors }">
                  </div>
                </div>
              </fieldset>
              <!-- Authorized Pickup Phone 2 -->
              <fieldset class="form-group font-weight-bold" *ngIf = "bookingIndividual.AuthorizedPickupPhone2">
                <div class="row">
                  <label class="col-form-label col-sm-3" for="AuthorizedPickupPhone2">Authorized Pick Up Phone Number #2: </label>
                  <div class="col-sm-9">
                    <input class="form-control" type="number" placeholder="xxx-xxx-xxxx" formControlName="AuthorizedPickupPhone2" 
                        [ngClass]="{ 'is-invalid': g.AuthorizedPickupPhone2.errors }">
                  </div>
                </div>
              </fieldset>
              <!-- Early Dropoff -->
              <fieldset class="form-group font-weight-bold" *ngIf = "bookingIndividual.EarlyDropOff">
                <div class="row">
                  <label class="col-form-label col-sm-3" for="EarlyDropOff">Early Drop Off: </label>
                  <div class="col-sm-9">
                    <select class="form-control" formControlName="EarlyDropOff" 
                          [ngClass]="{ 'is-invalid': g.EarlyDropOff.errors }">
                      <option>No, thanks! (+$0) </option>
                      <option>Monday Early Drop Off (+$7)</option>
                      <option>Tueday Early Drop Off (+$7)</option>
                      <option>Wednesday Early Drop Off (+$7)</option>
                      <option>Thursday Early Drop Off (+$7)</option>
                    </select>
                    <div *ngIf="g.EarlyDropOff.errors" class="invalid-feedback">
                      <div *ngIf="g.EarlyDropOff.errors.required">This selection is required</div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <!-- Late Pickup -->
              <fieldset class="form-group font-weight-bold" *ngIf = "bookingIndividual.LatePickup">
                <div class="row">
                  <label class="col-form-label col-sm-3" for="LatePickup">Late Pick Up: </label>
                  <div class="col-sm-9">
                    <select class="form-control" formControlName="LatePickup"
                          [ngClass]="{ 'is-invalid': g.LatePickup.errors }">
                      <option>No, thanks! (+$0) </option>
                      <option>Monday Late Pick-Up (+$7)</option>
                      <option>Tueday Late Pick-Up  (+$7)</option>
                      <option>Wednesday Late Pick-Up  (+$7)</option>
                      <option>Thursday Late Pick-Up  (+$7)</option>
                    </select>
                    <div *ngIf="g.LatePickup.errors" class="invalid-feedback">
                      <div *ngIf="g.LatePickup.errors.required">This selection is required</div>
                    </div>
                  </div>
                </div>
              </fieldset>
            <div class="btn_row row flex-end">
              <button class="btn btn-lg btn-info btn-block" matStepperPrevious type="button"> Back </button>
              <button class="btn btn-lg btn-info btn-block" (click)="registerIndividualStepperNext(stepper)" type="button"> Next</button>
            </div>
          </div>
        </form>
      </ng-container>

      <!-- END INDIVIDUAL PROGRAM SECTION -->
    </mat-step>
    <!-- END INPUT INFORMATION STEPPER -->
    <mat-step [stepControl]="confirmation">
      <ng-template matStepLabel>Confirmation</ng-template>
      <ng-container *ngIf="isCompleted  && ProgramType == 0">
        <confirmation [reservationDetails]="reservationGroupDetails" [ProgramPK]="ProgramPK" [customerSelectDate]="customerSelectDate" [customerSelectTime] ="customerSelectTime"></confirmation>
      </ng-container>
      <ng-container *ngIf="isCompleted && ProgramType == 1">
        <confirmation [reservationDetails]="reservationIndividualDetails" [ProgramPK]="ProgramPK" [customerSelectDate]="customerSelectDate" [customerSelectTime] ="customerSelectTime"></confirmation>
      </ng-container>
      <div>
        <button class="btn btn-lg btn-info btn-block" matStepperPrevious type="button"> Back </button>
        <button class="btn btn-lg btn-info btn-block" matStepperNext type="button"> Next </button>
      </div>
    </mat-step>
    <mat-step [stepControl]="paymentForm">
      <ng-template matStepLabel>Payment</ng-template>
      <payment></payment>
      <div>
        <button class="btn btn-lg btn-info btn-block" matStepperPrevious type="button"> Back </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>