<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5 mx-auto">
            <form (submit)="createProgram()" enctype="multipart/form-data">
                <h1 class="h3 mb-3 font-weight-normal">Create Program</h1>
                <div class="form-group">
                    <label>Program Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter Program Name"
                        [(ngModel)]="programData.Name" required>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <ckeditor [editor]="Editor" data="" (ready)="onReady($event)" name="editor" [(ngModel)]="programData.Description"></ckeditor>
                </div>
                <div class="form-group">
                    <label>Full Amount</label>
                    <input type="number" class="form-control" name="fullamount" placeholder="Enter Program Price" [(ngModel)]="programData.FullAmount" required>
                </div>
                <div class="form-group">
                    <label>Image</label>
                    <input type="file" (change)="onFileChange($event)"/>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Create Program</button>
            </form>
               
        </div>
    </div>
</div>