h1 {
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 50px;
  font-weight: bold;
  padding-top: 10px;
  color: #08b2b8; 
  /* text-shadow: 1px 1px 2px #00000080; */

}

p {
  word-wrap: break-word;
}

h5 {
  color: #08b2b8 !important;
  font-weight: bold;
  text-decoration: underline;

}
.price{
  text-decoration: none;
}

hr{
  margin-top: 2em;
  margin-bottom:-1em;
}

.mat-button, .mat-raised-button:hover{
  background-color: rgb(6, 3, 189);
} 

.list-group{
  border-width:0px;
}

.container {
  padding-top: 120px;
}

.col-lg-12{
  padding-bottom: 25px;
}

a:hover {
  background-color:#185e61 !important;
}

.filter{
  padding: 20px;
  font-weight: bold;
}