h1 {
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 50px;
  font-weight: bold;
  padding-top: 20px;
  color: #08b2b8; 
  /* text-shadow: 1px 1px 2px #00000080; */

}

hr{
  margin-top: 2em;
  margin-bottom:-1em;
}
.list-group{
  border-width:0px;
}

.container {
  padding-top: 120px;
}

.col-lg-12{
  padding-bottom: 25px;
}

/* body {
  background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://c.wallhere.com/photos/83/e8/lajolla_sunset_beach_sealion_sea_lion_sandiego_clouds-872451.jpg!d');
  background-size:100%;
} */