<div class="container">
    <div class="row text-left text-white mb-5">
        <div class="col-lg-12 mx-auto">
            <h1 class="text-primary">Individual Program List <hr/></h1>
        </div>
    </div>
    <div class="row" *ngIf = programs>
        <div class="col-lg-6 mx-auto" style="width: 350px;" *ngFor = 'let program of programs'>
            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->
                <li class="list-group-item">
                    <!-- Custom content-->
                        <div class = "pic col">
                            <img [src]="program.ImgData" alt="Generic placeholder image" width="200" class="pic ml-lg-2">
                        </div>
                        <div class="media-body col">
                            <h6 class="mt-0 font-weight-bold text-center mb-2">{{program.Name}}</h6>
                            <p class="program-desc font-italic text-center mb-0 small">{{program.Description}}</p>
                            <div class="priceinfo d-flex justify-content-between mt-1">
                                <h6 class="price font-weight-bold my-2">${{program.FullAmount}}</h6>
                                <a routerLink ="/booking-individual-program" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Book now!</a>
                            </div>
                        </div>
                </li> <!-- End -->
            </ul> <!-- End -->
        </div>
    </div>
</div>