h3 {
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 30px;
    font-weight: bold;
    color: #08b2b8; 
}

h4{
    color: #08b2b8; 
}

.modal-content-wrapper{
    width: 750px;
    height: 600px;
    position: relative;
}

.row {
    padding-top: 15px;
}

label{
    font-weight: bold;
}

.modal-content-wrapper .modal-footer{
    width: 100%;
    bottom: 0px;
    position: absolute;
}