<div id="modal-content-wrapper" style="text-align: center;">
    <header id="modal-header">
        <button type="button" class="close" (click)="closeModal()" onfocus="blur()">X</button>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h2><img class="logo" src="https://static1.squarespace.com/static/5bb6555ef8135a760bccc650/t/5bb657c153450a81182db75a/1585949118301/" alt="" style="height:40px; width: 90px;"></h2>
                </div>
                <div class="col-md-9">
                    <h3>Reservation Details</h3>
                </div>
            </div>
        </div>
    </header>

    <mat-dialog-content>
        <mat-tab-group>
            <mat-tab label="General Info">
                <ng-template matTabContent>
                    <div class="container">
                        <div class="row text-left">
                            <div class="col-sm-4">
                                <h6><strong>Reservation ID:</strong></h6>
                            </div>
                            <div class="col-sm-8">
                                <h6>{{data.ReservationPK}}</h6>
                            </div>
                        </div>
                        <div class="row text-left">
                            <div class="col-sm-4">
                                <h6><strong>Program Name:</strong></h6>
                            </div>
                            <div class="col-sm-8">
                                <h6>{{data.ProgramName}}</h6>
                            </div>
                        </div>
                        <div class="row text-left">
                            <div class="col-sm-4">
                                <h6><strong>Date:</strong></h6>
                            </div>
                            <div class="col-sm-8">
                                <h6>{{data.Date}}</h6>
                            </div>
                        </div>
                        <div class="row text-left">
                            <div class="col-sm-4">
                                <h6><strong>Reservation Status:</strong></h6>
                            </div>
                            <div class="col-sm-8">
                                <h6>{{data.ReservationStatus}}</h6>
                            </div>
                        </div>  
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Reservation Info">
                <ng-template matTabContent>
                    <div *ngIf= "data.ProgramType == 0" class="container">
                        <form [formGroup]="groupForm">
                            <fieldset disabled>
                                <div class="row">
                                    <label class="col-sm-2 control-label">Adult: </label>
                                    <input type="text" class="col-sm-1 form-control" formControlName="AdultQuantity" placeholder="First name"  [(ngModel)]="groupDetails.AdultQuantity">
                                    <label class="col-sm-2 control-label">Age 5-7: </label>
                                    <input type="text" class="col-sm-1 form-control" formControlName="Age57Quantity" placeholder="First name" [(ngModel)]="groupDetails.Age57Quantity">
                                    <label class="col-sm-2 control-label">Age 8-10: </label>
                                    <input type="text" class="col-sm-1 form-control" formControlName="Age810Quantity"  [(ngModel)]="groupDetails.Age810Quantity">
                                    <label class="col-sm-2 control-label">Age 11-12: </label>
                                    <input type="text" class="col-sm-1 form-control" formControlName="Age1112Quantity"  [(ngModel)]="groupDetails.Age1112Quantity">
                                </div>
                                <div class="row">
                                    <label class="col-sm-2 control-label">Age 13-14: </label>
                                    <input type="text" class="col-sm-1 form-control" formControlName="Age1314Quantity"  [(ngModel)]="groupDetails.Age1314Quantity">
                                    <label class="col-sm-2 control-label">Age 14-15: </label>
                                    <input type="text" class="col-sm-1 form-control" formControlName="Age1415Quantity"  [(ngModel)]="groupDetails.Age1415Quantity">
                                    <label class="col-sm-2 control-label">Age 15-17: </label>
                                    <input type="text" class="col-sm-1 form-control" formControlName="Age1517Quantity"  [(ngModel)]="groupDetails.Age1517Quantity">
                                    <label class="col-sm-2 control-label">Total Quantity: </label>
                                    <input type="text" class="col-sm-1 form-control" formControlName="TotalQuantity"  [(ngModel)]="groupDetails.TotalQuantity">
                                </div>
                                <div class="row form-group">
                                    <label class="col-sm-2 control-label">Program Restriction: </label>
                                    <input type="text" class="col-sm-2 form-control" formControlName="ProgramRestriction"  [(ngModel)]="groupDetails.ProgramRestriction">
                                    <label class="col-sm-2 control-label">Organization Name: </label>
                                    <input type="text" class="col-sm-3 form-control" formControlName="OrganizationName"  [(ngModel)]="groupDetails.OrganizationName">
                                    <label class="col-sm-2 control-label">Grade Level: </label>
                                    <input type="text" class="col-sm-1 form-control" formControlName="GradeLevel"  [(ngModel)]="groupDetails.GradeLevel">
                                </div>
                                <div class="row form-group">
                                    <label class="col-sm-2 control-label">Teacher Name: </label>
                                    <input type="text" class="col-sm-2 form-control" formControlName="TeacherName"  [(ngModel)]="groupDetails.TeacherName">
                                    <label class="col-sm-2 control-label">Teacher Email: </label>
                                    <input type="text" class="col-sm-2 form-control" formControlName="TeacherEmail"  [(ngModel)]="groupDetails.TeacherEmail">
                                    <label class="col-sm-2 control-label">Teacher Phone No: </label>
                                    <input type="text" class="col-sm-2 form-control" formControlName="TeacherPhoneNo"  [(ngModel)]="groupDetails.TeacherPhoneNo">
                                </div>
                                <div class="row form-group">
                                    <label class="col-sm-3 control-label">Alternative Date: </label>
                                    <input type="text" class="col-sm-3 form-control" formControlName="AlternativeDate"  [(ngModel)]="groupDetails.AlternativeDate">
                                    <label class="col-sm-3 control-label">Education Purpose: </label>
                                    <input type="text" class="col-sm-3 form-control" formControlName="EducationPurpose"  [(ngModel)]="groupDetails.EducationPurpose">
                                </div>   
                            </fieldset>
                        </form>
                    </div>
                    <div *ngIf= "data.ProgramType == 1" class="container">
                        <form  [formGroup]="individualForm">
                            <fieldset disabled>
                                <div class="row form-group">
                                    <label class="col-sm-2 control-label">Name </label>
                                    <input type="text" class="col-sm-2 form-control" formControlName="ParticipantName"  [(ngModel)]="individualDetails.ParticipantName">
                                    <label class="col-sm-1 control-label">Age </label>
                                    <input type="text" class="col-sm-1 form-control" formControlName="ParticipantAge"  [(ngModel)]="individualDetails.ParticipantAge">
                                    <label class="col-sm-2 control-label">Gender </label>
                                    <input type="text" class="col-sm-1 form-control" formControlName="Gender"  [(ngModel)]="individualDetails.Gender">
                                    <label class="col-sm-2 control-label">T-Shirt Size </label>
                                    <input type="text" class="col-sm-1 form-control" formControlName="MerchSize"  [(ngModel)]="individualDetails.MerchSize">
                                </div>
                                <div class="row form-group">
                                    <label class="col-sm-2 control-label">Allergy Info </label>
                                    <input type="text" class="col-sm-4 form-control" formControlName="AllergyInfo"  [(ngModel)]="individualDetails.AllergyInfo">
                                    <label class="col-sm-2 control-label">Special Info </label>
                                    <input type="text" class="col-sm-4 form-control" formControlName="SpecialInfo"  [(ngModel)]="individualDetails.SpecialInfo">
                                </div>
                                <div class="row form-group">
                                    <label class="col-sm-2 control-label">Insure Provider Name </label>
                                    <input type="text" class="col-sm-4 form-control" formControlName="InsureProviderName"  [(ngModel)]="individualDetails.InsureProviderName">
                                    <label class="col-sm-2 control-label">Insure Recipient Name </label>
                                    <input type="text" class="col-sm-4 form-control" formControlName="InsureRecipientName"  [(ngModel)]="individualDetails.InsureRecipientName">
                                </div>
                                <div class="row form-group">
                                    <label class="col-sm-2 control-label">Insure Policy No </label>
                                    <input type="text" class="col-sm-4 form-control" formControlName="InsurePolicyNo"  [(ngModel)]="individualDetails.InsurePolicyNo">
                                    <label class="col-sm-2 control-label">Insure Phone No </label>
                                    <input type="text" class="col-sm-4 form-control" formControlName="InsurePhoneNo"  [(ngModel)]="individualDetails.InsurePhoneNo">
                                </div>
                                <div class="row form-group">
                                    <label class="col-sm-2 control-label">Authorized Pickup Name 1 </label>
                                    <input type="text" class="col-sm-4 form-control" formControlName="AuthorizedPickupName1"  [(ngModel)]="individualDetails.AuthorizedPickupName1">
                                    <label class="col-sm-2 control-label">Authorized Pickup Phone 1 </label>
                                    <input type="text" class="col-sm-4 form-control" formControlName="AuthorizedPickupPhone1"  [(ngModel)]="individualDetails.AuthorizedPickupPhone1">
                                </div>
                                <div class="row form-group">
                                    <label class="col-sm-2 control-label">Authorized Pickup Name 2 </label>
                                    <input type="text" class="col-sm-4 form-control" formControlName="AuthorizedPickupName2"  [(ngModel)]="individualDetails.AuthorizedPickupName2">
                                    <label class="col-sm-2 control-label">Authorized Pickup Phone 2 </label>
                                    <input type="text" class="col-sm-4 form-control" formControlName="AuthorizedPickupPhone2"  [(ngModel)]="individualDetails.AuthorizedPickupPhone2">
                                </div>
                                <div class="row form-group">
                                    <label class="col-sm-2 control-label">Early Drop Off </label>
                                    <input type="text" class="col-sm-4 form-control" formControlName="EarlyDropOff"  [(ngModel)]="individualDetails.EarlyDropOff">
                                    <label class="col-sm-2 control-label">Late Pick Up </label>
                                    <input type="text" class="col-sm-4 form-control" formControlName="LatePickUp"  [(ngModel)]="individualDetails.LatePickUp">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Customer Info">
                <ng-template matTabContent>
                    <div class="container">
                        <div class="row text-left">
                            <div class="col-sm-4">
                                <h6><strong>First Name:</strong></h6>
                            </div>
                            <div class="col-sm-8">
                                <h6>{{customerDetails.FirstName}}</h6>
                            </div>
                        </div>
                        <div class="row text-left">
                            <div class="col-sm-4">
                                <h6><strong>Last Name:</strong></h6>
                            </div>
                            <div class="col-sm-8">
                                <h6>{{customerDetails.LastName}}</h6>
                            </div>
                        </div>
                        <div class="row text-left">
                            <div class="col-sm-4">
                                <h6><strong>Address:</strong></h6>
                            </div>
                            <div class="col-sm-8">
                                <h6>{{customerDetails.Address}}, {{customerDetails.City}}, {{customerDetails.State}} {{customerDetails.Zipcode}}</h6>
                            </div>
                        </div>
                        <div class="row text-left">
                            <div class="col-sm-4">
                                <h6><strong>Phone Number:</strong></h6>
                            </div>
                            <div class="col-sm-8">
                                <h6>{{customerDetails.PhoneNo}}</h6>
                            </div>
                        </div>                       
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Payment Info">
                <ng-template matTabContent>
                    <div class="container">
                        <div class="row text-left">
                            <div class="col-sm-4">
                                <h6><strong>Total Amount:</strong></h6>
                            </div>
                            <div class="col-sm-8">
                                <h6>${{data.Total}}</h6>
                            </div>
                        </div>
                        <div class="row text-left">
                            <div class="col-sm-4">
                                <h6><strong>Paid Amount:</strong></h6>
                            </div>
                            <div class="col-sm-8">
                                <h6>${{paid}}</h6>
                            </div>
                        </div>
                        <div class="row text-left">
                            <div class="col-sm-4">
                                <h6><strong>Remaining Amount:</strong></h6>
                            </div>
                            <div class="col-sm-8">
                                <h6>${{data.RemainingBalance}}</h6>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <form>
                            <fieldset>
                                <div class="row">
                                    <h4> Manual Payment </h4>
                                </div> 
                                <div class="row form-group">
                                    <label class="col-sm-3 control-label">Choose Type: </label>
                                    <select class="col-sm-3 control-label" id="type">
                                        <option value="default">---Type of Payment---</option>
                                        <option value="card">Card</option>
                                        <option value="other">Others</option>
                                    </select>
                                </div>
                                <div class="row form-group">
                                    <label class="col-sm-3 control-label">Enter Amount: </label>
                                    <input type="number" class="col-sm-3 form-control" formControlName="amount">
                                    <div class="col-sm-6">
                                        <button type="submit" class="btn btn-success float-right" value="Submit">Add Payment</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>

                        <form>
                            <fieldset>
                                <div class="row">
                                    <h4> Refund Section </h4>
                                </div>
                                <div class="row form-group">
                                    <label class="col-sm-3 control-label">Refund Amount: </label>
                                    <input type="number" class="col-sm-3 form-control">
                                </div> 
                                <div class="row form-group">
                                    <label class="col-sm-3 control-label">Reason: </label>
                                    <textarea class="col-sm-9 form-control"  rows="3"></textarea>                                        
                                </div> 
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-danger float-right" value="Submit">Refund</button>
                                    </div>
                                </div> 
                            </fieldset>
                        </form>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>

    <footer id ="modal-footer">
        <button mat-raised-button id="modal-cancel-button" class="btn-warning" (click)="closeModal()" onfocus="blur()" style="float:right"> Cancel</button>
    </footer>
</div>