<div class="container">
    <div class="row text-center text-white mb-5 mt-4">
        <div class="col-lg-7 mx-auto">
            <h1>Email Management</h1>
        </div>
    </div>
    <div class="row filter">
        <div class="col-md-2 col-sm-3 p-0">
            <select class="form-control" style="font-weight: bold" id="emailCat"
                (change)="selectChangeHandler($event)">
            </select>
        </div>
        <div class="col-sm-8 pr-0">
            <input type="text" class="form-control" placeholder="Type in Email Name or keywords to search"
                [(ngModel)]="searchText">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <button mat-raised-button color="primary" (click)="clearSearch()" onfocus="blur()">Clear Search</button>
        </div>
    </div>
    <!--  Create table -->
    <div class="table-responsive-sm">
        <table #datatable class="table table-hover" style="width:100%">
            <thead>
                <tr>
                    <th style="width:35%"> Email Subject </th>
                    <th style="width:20%"> Group </th>
                    <th style="width:45%"> Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let email of emails | filter:searchText | paginate:{itemsPerPage: 7, currentPage:p}">
                    <td class="name"> {{email.Subject}}
                        <div class="row errorMessage ml-auto" *ngIf="!email.IsActive">
                            <mat-icon color="orange">error</mat-icon>
                            <span>Inactive</span>
                        </div>
                    </td>
                    <td *ngIf="email.Type =='User'"> Users </td>
                    <td *ngIf="email.Type =='Program'"> Programs </td>
                    <td *ngIf="email.Type =='Payment'"> Payments </td>
                    <td>
                        <button [routerLink]="['/profile', 'email-details', email.EmailPK, 'view']"
                            class="btn btn-info">
                            <mat-icon matListIcon>visibility</mat-icon> View
                        </button>
                        <button [routerLink]="['/profile', 'email-details', email.EmailPK, 'edit']"
                            class="btn btn-warning">
                            <mat-icon matListIcon>edit</mat-icon> Edit
                        </button>
                        <!-- <button *ngIf="!email.IsActive" (click)="openModalSwitch(email.EmailPK, email.IsActive)"
                            class="btn btn-success">
                            <mat-icon matListIcon> visibility </mat-icon> Enable
                        </button>
                        <button *ngIf="email.IsActive" (click)="openModalSwitch(email.EmailPK, email.IsActive)"
                            class="btn btn-danger">
                            <mat-icon matListIcon> visibility_off </mat-icon> Disable
                        </button> -->
                    </td>    
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <pagination-controls (pageChange)="p=$event" autoHide="true" responsive="true">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>