<div *ngIf="role == '2' || role == '3'" class="container">
    <div class="row text-center">
        <div class="col-lg-7 mt-3 mx-auto">
            <h1>Dashboard</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h5>Here are the general information of reservations in <strong> the last 7 days</strong>.</h5>
            <!-- <kendo-daterange class="float-left">
                <label>
                    <span class="label p-3">From </span>
                    <kendo-dateinput kendoDateRangeStartInput [(value)]="range.start" (valueChange)="onChangeDate()">
                    </kendo-dateinput>
                </label>
                <label>
                    <span class="label p-3">To </span>
                    <kendo-dateinput kendoDateRangeEndInput [(value)]="range.end" (valueChange)="onChangeDate()">
                    </kendo-dateinput>
                </label>
            </kendo-daterange> -->
        </div>
        <div class="col-sm-12 col-md-6 col-xl-3">
            <div class="card bg-c-green order-card h-100">
                <div class="card-body">
                    <h6 class="m-b-20">Completed Reservations</h6>
                    <h2 class="text-right">{{completedRes}}</h2>
                    <h5 class="text-right">Total: ${{completedTotal}}</h5>
                </div>
                <div class="card-footer bg-g-white">
                    <button class="link" (click)="openReservationModal('Completed')" onfocus="blur()">View Completed
                        Reservations</button>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-xl-3">
            <div class="card bg-c-blue order-card h-100">
                <div class="card-body">
                    <h6 class="m-b-20">Ongoing Reservations</h6>
                    <h2 class="text-right">{{ongoingRes}}</h2>
                    <h5 class="text-right">Total: ${{ongoingTotal}}</h5>
                </div>
                <div class="card-footer bg-b-white">
                    <button class="link" (click)="openReservationModal('On Going')" onfocus="blur()">View Ongoing
                        Reservations</button>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-xl-3">
            <div class="card bg-c-yellow order-card h-100">
                <div class="card-body">
                    <h6 class="m-b-20">Attended Reservations</h6>
                    <h2 class="text-right">{{attendedRes}}</h2>
                    <h5 class="text-right">Total: ${{attendedTotal}}</h5>
                </div>
                <div class="card-footer bg-y-white">
                    <button class="link" (click)="openReservationModal('Attended')" onfocus="blur()">View Attended
                        Reservations</button>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-xl-3">
            <div class="card bg-c-pink order-card h-100">
                <div class="card-body">
                    <h6 class="m-b-20"> Cancelled Reservations </h6>
                    <h2 class="text-right">{{cancelledRes}}</h2>
                    <h5 class="text-right">Total: ${{cancelledTotal}}</h5>
                </div>
                <div class="card-footer bg-p-white">
                    <button class="link" (click)="openReservationModal('Cancelled')" onfocus="blur()">View Cancelled
                        Reservations</button>
                </div>
            </div>
        </div>

    </div>
    <!-- CHART USING NG2-CHARTS -->
    <div class="row pb-5">
        <div class="col-md-7">
            <h2 class="text-center pb-3">{{title}}</h2>
            <canvas baseChart [chartType]="'bar'" [datasets]="chartData" [labels]="labels" [options]="chartOptions"
                [legend]="true" [colors]="colors" (chartClick)="onChartClick($event)">
            </canvas>
        </div>

        <br />

        <div class="col-md-5">
            <h2 class="text-center pb-3">{{title_pie}}</h2>
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="'pie'"
                [options]="pieChartOptions" [legend]="true" [colors]="pieChartColors" [plugins]="pieChartPlugins">
            </canvas>
        </div>
    </div>
    <div class="user-table pb-5">
        <h3> New Users created in the last 7 days</h3>
        <mat-form-field class="filter">
            <mat-label>Type any keywords to Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
        </mat-form-field>

        <div class="mat-elevation-z8">
        <table mat-table [dataSource]="UserDetailsInfo" matSort>

            <!-- Number Column -->
            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
            </ng-container>

            <!-- Username Column -->
            <ng-container matColumnDef="Username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
                <td mat-cell *matCellDef="let element"> {{element.Username}} </td>
            </ng-container>

            <!-- FirstName Column -->
            <ng-container matColumnDef="FirstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
            </ng-container>

            <!-- LastName Column -->
            <ng-container matColumnDef="LastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
            </ng-container>

            <!-- CreateDate Column -->
            <ng-container matColumnDef="CreatedDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
                <td mat-cell *matCellDef="let element"> {{element.CreatedDate}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" ></mat-paginator>
    </div>
    </div>

</div>

<div *ngIf="role == '1'" class="container">
    <div class="row text-center">
        <div class="col-lg-7 mt-3 mx-auto">
            <h1> Dashboard </h1>
        </div>
    </div>
    <h3 class="text-muted"> Recent reservations</h3>
    <div class="row pb-3" *ngFor="let res of customerRes">
        <div class="col-lg-12 mx-auto p-3">
            <!-- List group-->
            <ul [ngClass]="res.RemainingBalance == 0 ? 'completed-layout': 'waiting-layout'" class="list-group shadow">
                <!-- list group item-->
                <li class="list-group-item">
                    <div class="row p-3">
                        <div class="col-md-4">
                            <h4> {{res.ProgramName}} </h4>
                        </div>
                        <div class="col-md-5">
                            <h4 *ngIf="res.RemainingBalance == 0"><sup class="completed"> Payment Completed </sup> </h4>
                            <h4 *ngIf="res.RemainingBalance != 0"><sup class="waiting"> Payment Not Completed </sup>
                            </h4>
                        </div>
                        <div class="col-md-3">
                            <button *ngIf="res.ReservationStatus == 1" class="btn btn-outline-danger float-right"
                                type="submit" (click)="openCancelModal(res.ProgramType)" onfocus="blur()">Cancel
                                Reservation</button>
                        </div>
                    </div>
                    <div class="table-responsive-sm">
                        <table class="table table-borderless" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="width:10%"> #Res </th>
                                    <th style="width:20%"> Date </th>
                                    <th style="width:15%"> Time </th>
                                    <th style="width:15%"> Quantity </th>
                                    <th style="width:15%"> Total </th>
                                    <th style="width:25%"> Remaining Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> {{res.ReservationPK}} </td>
                                    <td> {{res.Date}}</td>
                                    <td> {{res.Time}}</td>
                                    <td> {{res.Quantity}} </td>
                                    <td> ${{res.Total}} </td>
                                    <td> ${{res.RemainingBalance}}
                                        <button mat-raised-button *ngIf="res.RemainingBalance != 0"
                                            class="btn btn-warning float-right" type="submit"
                                            (click)="openPaynowModal()" onfocus="blur()">Pay Now</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li> <!-- End -->
            </ul> <!-- End -->
        </div>
    </div>
</div>