h1 {
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 50px;
    font-weight: bold;
    padding-top: 10px;
    color: #08b2b8; 
}

h4{
    color: #08b2b8;
}

span.label{
    font-weight: bold;
}

.row{
    padding-bottom: 20px;
}

.completed-layout{
    border-width: 5px;
    border-left-style: solid;
    border-left-color:  rgb(14, 161, 14);
}

.waiting-layout{
    border-width: 5px;
    border-left-style: solid;
    border-left-color:  #ffc107;
}

.waiting{
    background-color: #ffc107;
    color: white;
}

.completed{
    background-color: rgb(14, 161, 14);
    color: white;
}

/* admin dashboard */
.order-card {
    color: #fff;
}

.bg-c-green {
    background: #5cb85c;
}

.bg-c-blue {
    background: blue;
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: #d9534f;
}

.bg-g-white {
    color: #5cb85c;
    background: white;
}
.bg-g-white button.link{
    padding: 0;
    color: #5cb85c;
    background: none;
    border: none;
}

.bg-p-white {
    color: #d9534f;
    background: white;
}
.bg-p-white button.link{
    padding: 0;
    color: #d9534f;
    background: none;
    border: none;
}


.bg-y-white {
    color: #FFB64D;
    background: white;
}

.bg-y-white button.link{
    padding: 0;
    color: #FFB64D;
    background: none;
    border: none;
}

.bg-b-white {
    color: #007bff;
    background: white;
}

.bg-b-white button.link{
    padding: 0;
    color: #007bff;
    background: none;
    border: none;
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card-body{
    padding-bottom: 0;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.m-b-20{
    font-size: 25px;
}

@media (max-width: 768px) {
    .hide-with-small { display: none; }
}

.col-sm-12{
    margin-bottom: 20px;
}

.filter{
    padding-bottom: 30px;
    padding-left: 30px;
    font-weight: bold;
}

/* TABLE */
thead{
    background-color:  rgba(0, 0, 0, 0.658);
    color: white;
}

th, td {
    text-align: left;
}

td {
    font-size: 15px;
}

td.name{
    color:  #08b2b8;
}

th {
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 18px;
    font-weight: bold;
}
  