<div class="banner">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h1> PACIFIC MARINE MAMMAL CENTER </h1>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-12">
        <h2> Enjoy your exploration with our programs! </h2>
      </div>
    </div>
        <form action="#" method="post" novalidate="novalidate">
            <div class="row pl-5">
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-slt" id="exampleFormControlSelect1">
                                <option>Select Types of Program</option>
                                <option>Group</option>
                                <option>Individual</option>
                            </select> 
                        </div>
                         <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-slt" id="exampleFormControlSelect1">
                                <option>Select Age Group</option>
                                <option>5-8</option>
                                <option>8-12</option>
                                <option>12-16</option>
                            </select>
                        </div>
                          <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <input class="form-control" type="date" value="2020-08-19" id="example-date-input">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <button type="button" class="btn btn-primary wrn-btn">Search</button>
                        </div>
                    </div>
        </form>
  </div>
</div> 
  <!-- Page Content -->
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h1 style = "color: black">Most Popular Programs</h1>
      </div>
    </div>


    <!-- Page Features -->
    <div class="row" *ngIf = "programs">

      <div class="col-lg-4 col-md-6 mb-4" *ngFor = "let program of programs">
        <div class="card h-100 border-light" style="box-shadow: 0px 2px 2px #34393a80;">
          <img class="card-img" [src]="program.imageURL" alt="">
          <div class="card-body">
            <h3 class="card-title">{{program.Name}}</h3>
            <p class="card-text"> {{program.Description}}</p>
            <h4 class="text-right text-muted"> $250 </h4>
            <div class = "text-right">
            <a [href]="program.url" class="btn btn-primary pull-right">Find Out More!</a>
          </div>
          </div>
          <div class="card-footer text-muted d-flex justify-content-between bg-light border-light">
            <div class="stats">
              <fa-icon [icon]="faClock"></fa-icon> 1h45
            </div>
            <div class="stats">
              <fa-icon [icon]="faComment"></fa-icon> 115
            </div>

          </div>
        </div>
      </div>
      
    </div>
    

  