.container {
    padding-top: 100px;
  }

.row{
  padding-top: 56px;
}
  
p {
  font-family: Gill Sans, sans-serif;
  font-style: italic;
  color: black;
}
  
.header img{
  filter: brightness(50%);
  position: relative;
  width: 100%;
}

h1 {
  position: absolute;
  top: 200px;  
  width: 100%; 
  text-align: center;
  color: #ffffff;
  font-family: Arial;
  font-style: italic;
  font-weight: 500;
  font-size: 50px;
}

h2 {
  position: absolute;
  top: 250px;  
  width: 100%; 
  text-align: center;
  color: #ffffff;
  font-family: monospace;
  font-size: 20px;
}
