<div class="banner" >
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text"> PACIFIC MARINE MAMMAL CENTER </h1>
        <h2 class="greeting" style="color:white">Enjoy your exploration with our programs!</h2>
      </div> 
    </div>
  </div>
</div> 
  <!-- Page Content -->
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-lg-12">
        <h1>Most Popular Programs</h1>
      </div>
    </div>
    <!-- Page Features -->
    <div class="card-deck row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"  *ngFor = "let program of programs">
        <div class="program_card card h-100 border-light" style="box-shadow: 0px 2px 2px #34393a80;">
       <!--Card image-->
          <div class="view overlay row">
            <img class="image_div card-img flex-fill p-1" src={{program.ImgData}} alt="Card image cap" width="270" height="260">
          </div>
          <div class="card-body d-flex flex-column">
            <!-- <a *ngIf = "program.ProgramType" [routerLink] = "['/booking-individual-program', program.ProgramPK]"><h4 class="card-title">{{program.Name}}</h4></a>
            <a *ngIf = "!program.ProgramType" [routerLink] = "['/booking-group-program', program.ProgramPK]"><h4 class="card-title">{{program.Name}}</h4></a> -->
            <a [routerLink] = "['/reservation', program.ProgramPK]"><h4 class="card-title">{{program.Name}}</h4></a>
            <hr class="card__item card__divider">
            <div class="block-with-text">
              <div [innerHTML]="program.Description | safeHtml"></div>
            </div>
            <h4> ... </h4>
          </div>
          <div class="card-body-btn d-flex flex-column">
           <!--  <a *ngIf = "program.ProgramType" [routerLink] = "['/booking-individual-program', program.ProgramPK]" class="align-self-end btn btn-outline-info">Find Out More!</a>
            <a *ngIf = "!program.ProgramType" [routerLink] = "['/booking-group-program', program.ProgramPK]" class="align-self-end btn btn-outline-info">Find Out More!</a> -->
            <a [routerLink] = "['/reservation', program.ProgramPK]" class="align-self-end btn btn-outline-info">Find Out More!</a>
          </div>
          <!-- <div class="card-footer text-muted d-flex justify-content-between bg-light border-light">
            <a style = "color: #5077a9;" ><fa-icon [icon]="faClock"></fa-icon> 1h45 </a>
            <a style = "color: #5077a9;" > <fa-icon [icon]="faComment"></fa-icon> 115 </a>
          </div> -->
        </div>
      </div>
      
    </div>

    
    

  