  <!-- Page Content -->
  <div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">A Warm Welcome!</h1>
      <p class="lead">At Pacific Mammal Marine Center, it is great to have you with us. Our educational programs are designed for kids and teens to get familiar with the ocean. Enjoy your exploration! </p>
    </header>

    <!-- Page Features -->
    <div class="row text-center" *ngIf = "programs">

      <div class="col-lg-3 col-md-6 mb-4" *ngFor = "let program of programs">
        <div class="card h-100">
          <img class="card-img-top" [src]="program.imageURL" alt="">
          <div class="card-body">
            <h4 class="card-title">{{program.title}}</h4>
            <p class="card-text"> {{program.description}}</p>
          </div>
          <div class="card-footer">
            <a [href]="program.url" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      
    </div>

  </div>

  