<nav class="navbar navbar-expand-lg navbar-light fixed-top mb-4" style="background-color: white; box-shadow: 0px 2px 2px #34393a80;" >
  <div class="container">
    <a  class="navbar-brand" routerLink="/">
    <img src = "https://files.constantcontact.com/51bd4a7a001/b894f4d9-d76a-48cc-b5b0-3a0d3b8c79cd.png" width="120" height="60"> </a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/group-program">Group Program</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/individual-program">Individual Program</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li *ngIf="!auth.isLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li *ngIf="auth.isLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="" (click)="auth.logout()">Logout</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<!-- Footer -->
<footer class="mainfooter" role="contentinfo" style= "background-color: #5077a9; color: white; padding-top:50px; padding-bottom:50px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!--Column Info-->
        <div class="footer-info">
          <h3>PACIFIC MARINCE MAMMAL CENTER</h3>
          <p class="text-justify" style="color: rgb(192, 183, 183);">Our patient are sentinel species of our environment. Their intricate involvement on both the terrestrial and marine environments provides us with a unique wealth of knowledge.</p>
            <div class="social-network fa-2x">
              <a>Follow Us</a>
              <a style="padding-left:25px; color: rgb(0, 89, 255);" href="https://www.facebook.com/pacificmmc/" class="faFacebook" title="faFacebook"><fa-icon [icon]="faFacebook"></fa-icon></a>
              <a style="padding-left:25px; color: rgb(158, 41, 41);" href="https://www.youtube.com/channel/UCApjY-oadg3lgl8Ahn3h53Q" class="faYoutube" title="faYoutube"><fa-icon [icon]="faYoutube"></fa-icon></a>
              <a style="padding-left:25px; color: rgb(158, 41, 41);" href="https://www.yelp.com/biz/pacific-marine-mammal-center-laguna-beach" class="faYelp" title="faYelp"><fa-icon [icon]="faYelp"></fa-icon></a>
              <a style="padding-left:25px; color: rgb(0, 89, 255);" href="#" class="faEnvelope" title="faEnvelope"><fa-icon [icon]="faEnvelope"></fa-icon></a>
            </div>			
        </div>
      </div>
      <div class="col-md-3">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Useful Links</h4>
          <ul class="list-unstyled">
            <li><a style="color: rgb(192, 183, 183);" href="#">Home</a></li>
            <li><a style="color: rgb(192, 183, 183);" href="#">Login</a></li>
            <li><a style="color: rgb(192, 183, 183);" href="#">Register</a></li>
            <li><a style="color: rgb(192, 183, 183);" href="#">Contacts</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Visit Us</h4>
          <p style="color: rgb(192, 183, 183);" class="info">Open Daily 10AM - 4PM Pacific 
            <br />Admission is FREE
            <br />Donations are Welcome!
            <br />(949)494-3050
            <br />20612 Laguna Canyon Road, Laguna Beach, CA 92651
          </p>
        </div>
      </div>
    </div>
		<div class="col-md-12">
			<p class="text-center">Privacy Policy | Terms of Use
        <br />Copyright © 2018 Pacific Marine Mammal Center. All rights reserved.</p>
		</div>
  </div>
</footer>

