
.header_change{
    position: fixed;
    background: white;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 2px 2px #34393a80;
    color: #0ebbff;
}

.nav-link {
    color: #0ebbff;
    
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}


/* .nav-link{
    color: #0ebbff;
    text-shadow: 1px 1px 2px #34393a80;
    font-weight: bold;
} */

.active {
    background-color: rgba(34,34,34,0.8);
  }


body {
    overflow-y:hidden;
    overflow-x:hidden;
  }

.dropdown:hover>.dropdown-menu {
    display: block;
}
  
.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
}

.mainfooter {
    background: #16222A; 
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A); 
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white; padding-top:50px; padding-bottom:50px;
}