<nav class="navbar navbar-expand-lg navbar-light fixed-top mb-4" style="background-color:white;box-shadow: 0px 2px 2px #34393a80;">
  <div class="container">
    <a  class="navbar-brand" href="https://www.pacificmmc.org/">
    <img src = "https://files.constantcontact.com/51bd4a7a001/b894f4d9-d76a-48cc-b5b0-3a0d3b8c79cd.png" width="120" height="60"> </a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/group-program">Group Program</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/individual-program">Individual Program</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li *ngIf="!auth.isLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li *ngIf="auth.isLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="" (click)="auth.logout()">Logout</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="py-5" style="background-color:#5077a9;">
  <div class="container">
    <p class="m-0 text-center text-white">Privacy Policy | Terms of Use</p>
    <p class="m-0 text-center text-white">Copyright © 2020 Pacific Marine Mammal Center. All rights reserved.</p>
  </div>
  <!-- /.container -->
</footer>