<nav class="navbar navbar-expand-lg navbar-light fixed-top mb-4" style="background-color: white; box-shadow: 0px 2px 2px #34393a80;" >
  <div class="container">
    <a  class="navbar-brand" routerLink="/">
    <img src = "https://files.constantcontact.com/51bd4a7a001/b894f4d9-d76a-48cc-b5b0-3a0d3b8c79cd.png" width="120" height="60"> </a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/group-program">Group Program</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/individual-program">Individual Program</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li *ngIf="!auth.isLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li *ngIf="auth.isLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="" (click)="auth.logout()">Logout</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>


<!-- Footer -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >


<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Our Programs</h4>
          <ul class="list-unstyled">
            <li><a href="#"></a></li>
            <li><a href="#">Group Programs</a></li>
            <li><a href="#">Individual Programs</a></li>
            <li><a href="#">Payment Center</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Useful Links</h4>
          <ul class="list-unstyled">
            <li><a href="#">About</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">News & Events</a></li>
            <li><a href="#">Contacts</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Visit Us</h4>
          <p class="info">Open Daily 10AM - 4PM Pacific 
            <br />Admission is FREE
            <br />Donations are Welcome!
            <br />(949)494-3050
            <br />20612 Laguna Canyon Road, Laguna Beach, CA 92651
        </p>
        </div>
      </div>
    	<div class="col-md-3">
    		<h4>Follow Us</h4>
            <ul class="social-network social-circle">
             <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
             <li><a href="#" class="icoYoutube" title="Youtube"><i class="fa fa-youtube"></i></a></li>
             <li><a href="#" class="icoYelp" title="Yelp"><i class="fa fa-yelp"></i></a></li>
             <li><a href="#" class="icoEmail" title="Email"><i class="fa fa-envelope"></i></a></li>
            </ul>				
		</div>
    </div>
	<div class="row">
		<div class="col-md-12 copy">
			<p class="text-center">&copy; Copyright 2020 | Pacific Marine Mammal Center | All rights reserved.</p>
		</div>
	</div>

  </div>
  </div>
</footer>


