<div class="container">
    <div class="row text-center text-white mb-2 mt-2">
        <div class="col-lg-7 mx-auto">
            <h1>View Schedule</h1>
        </div>
    </div> 
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-3 p-0">
            <select class="form-control" style="font-weight: bold" id="programCat"
                (change)="selectChangeHandler($event)">
            </select>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 p-0">            
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 p-0" *ngIf="choice != 0">            
            <select class="form-control" style="font-weight: bold" id="listOfPrograms"
                (change)="onChangeSelectedProgram($event)">
                <option selected value="0"> --- Select All {{programCategories[choice].name}} --- </option>
                <option *ngFor="let program of programs" [value]="program.ProgramPK">
                    {{program.Name}}
                </option>
            </select>
            
        </div>
    </div>
    <br/>
    <div class="row">
        <kendo-scheduler
                [kendoSchedulerBinding]="events"                
                (eventClick)="eventClick($event)"
                [modelFields]="eventFields"
                [selectedDate]="selectedDate"
                [showWorkHours] = "true"
                selectedView="month"
                style="height: 700px; width: 1500px">
        <ng-template kendoSchedulerEventTemplate let-event>
            {{ event.dataItem.Title }} 
        </ng-template>
        <kendo-scheduler-day-view >
        </kendo-scheduler-day-view>
        <kendo-scheduler-week-view>
        </kendo-scheduler-week-view>
        <kendo-scheduler-month-view> </kendo-scheduler-month-view>
        <kendo-scheduler-timeline-view> </kendo-scheduler-timeline-view>
        <kendo-scheduler-agenda-view> </kendo-scheduler-agenda-view>
      </kendo-scheduler>
    </div>
</div>