<div class="container py-5">
  <div class="row text-center text-white mb-5">
      <div class="col-lg-7 mx-auto">
          <h1 class="text-primary">Contact</h1>
      </div>
  </div>


<hr/>
<div class="container">
  <div class="row">
    <div class="col-sm-4 text-center">
      <h5>General Questions</h5>
      <a href="mailto:info@pacificmmc.org">info@pacificmmc.org</a>
    </div>
    <div class="col-sm-4 text-center">
      <h5>Education Program Questions</h5>
      <a href="mailto:education@pacificmmc.org">education@pacificmmc.org</a>
    </div>
    <div class="col-sm-4 text-center">
      <h5>Donation, Fundraising,<br /> Marketing Questions</h5>
      
      <a href="mailto:development@pacificmmc.org">development@pacificmmc.org</a>
    </div>
  </div>
</div>
<hr/>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <form [formGroup] = "myForm"> 
        <mat-form-field class="inputField">
          <input matInput placeholder="Full Name" formControlName = "fullName">          
        </mat-form-field>
        <mat-form-field class="inputField">
          <input matInput placeholder="Email" formControlName = "email">
          <mat-error *ngIf = "email.invalid && email.touched">
            Email is invalid
          </mat-error>
        </mat-form-field>
        <mat-form-field class="inputField">
          <input matInput placeholder="Subject" formControlName = "subject">
          <mat-error *ngIf = "subject.touched">
            Minimum 3 characters
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Your message" formControlName = "message"></textarea>
          <mat-error *ngIf = "message.touched">
            Minimum 5 characters
          </mat-error>
        </mat-form-field>
        <div class="text-right">
          <button mat-raised-button [disabled]="myForm.invalid" type="submit" class="btn btn-primary btn-lg active" aria-pressed="true">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-sm-6" style="padding-bottom: 50px;">
      <div id="map-container-google-11" class="z-depth-1-half map-container-6" style="height: 400px;">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3324.2463201415467!2d-117.76466114915011!3d33.57295325018747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dce6748ce46f67%3A0x253e5efc8f4271f!2sPacific%20Marine%20Mammal%20Center!5e0!3m2!1sen!2sus!4v1581394621910!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
    </div>
    <ckeditor [editor]="Editor" data="<p>Hello, world!</p>" (ready)="onReady($event)"></ckeditor>
  </div>
</div>
</div>