

h1 {
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 50px;
  font-weight: bold;
  padding-top: 80px;
  color: #08b2b8; 
}

.inputField {
  color: black;
}

.full-width {
  color: black;
}

hr {
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 20rem;
  margin-right: 20rem;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.123);
}

.full-width {
  width: 100%;
  max-width: 500px;  
  min-height: 130px;
  height: 100%;
}

.inputField{
  min-width: 150px;
  max-width: 500px;
  height: 80px;
  width: 100%;
}

.confirmMessage {
  color: white;
}