body {
    padding-top: 56px;
    padding-bottom: 20px;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://c.wallhere.com/photos/83/e8/lajolla_sunset_beach_sealion_sea_lion_sandiego_clouds-872451.jpg!d');
    background-size:100%;
  }

h1{
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 50px;
  font-weight: bold;
  padding-top: 20px;
  color: #ffffff; 
  text-shadow: 1px 1px 2px #00000080;
}

.inputField {
  color: white;
}

.full-width {
  color: white;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: white !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: white !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: white !important;;
}


hr {
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 20rem;
  margin-right: 20rem;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.123);
}

.full-width {
  width: 100%;
  max-width: 500px;  
  min-height: 130px;
  height: 100%;
}

.inputField{
  min-width: 150px;
  max-width: 500px;
  height: 80px;
  width: 100%;
}

.confirmMessage {
  color: white;
}