<div class="container">
    <div class="row text-center text-white mb-5 mt-4">
        <div class="col-lg-7 mx-auto">
            <h1>Program Management</h1>
        </div>
    </div>
    <!-- <div class="row"  *ngFor = 'let program of programs'>
        <div class="col-lg-12 mx-auto">
            <ul class="list-group shadow">
                <li class="list-group-item">
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">{{program.Name}}</h6>
                                <a [routerLink]="['/profile', 'program-details', program.ProgramPK]" class="btn btn-info btn-lg active" role="button" aria-pressed="true">Edit</a>
                            </div>
                        </div>
                    </div> 
                </li> 
            </ul> 
        </div>
    </div> -->
    <!--  Create table -->
    <div class="table-responsive-sm">
        <table class="table table-hover" style="width:100%">
            <thead>
                <tr>
                    <th style="width:45%"> Program Name </th>
                    <th style="width:20%"> Program Type </th>
                    <th style="width:35%"> Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor = 'let program of programs'>
                    <td class="name"> {{program.Name}} </td>
                    <td *ngIf = "program.ProgramType =='0'" > Group Program </td>
                    <td *ngIf = "program.ProgramType =='1'" > Individual Program </td>
                    <td><button [routerLink]="['/profile', 'program-details', program.ProgramPK]" class="btn btn-info"><mat-icon matListIcon>visibility</mat-icon> View </button> 
                        <button [routerLink]="['/profile', 'program-details', program.ProgramPK]" class="btn btn-warning"> <mat-icon matListIcon>edit</mat-icon> Edit</button>
                        <button class="btn btn-danger"><mat-icon matListIcon>delete</mat-icon> Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>