<div class="container">
    <div class="row text-center text-white mb-5 mt-4">
        <div class="col-lg-7 mx-auto">
            <h1>Program Management</h1>
        </div>
    </div>
    <div class="row filter">
        <div class="col-lg-2 col-md-2 col-sm-3 p-0">
            <select class="form-control" style="font-weight: bold" id="programCat" (change)="selectChangeHandler($event)">
                <option *ngFor="let item of programCategories" [value]="item.id">{{item.name}}</option>
            </select>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-7 pr-0">
            <input type="text" class="form-control" placeholder="Type in Program Name or Keywords to Search"
                [(ngModel)]="searchText">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <button mat-raised-button color="primary" (click)="clearSearch()" onfocus="blur()">Clear Search</button>
        </div>
    </div>
    <!--  Create table -->
    <div class="table-responsive-sm">
        <table #datatable class="table table-hover" style="width:100%">
            <thead>
                <tr>
                    <th style="width:45%"> Program Name </th>
                    <th style="width:20%"> Program Type </th>
                    <th style="width:35%"> Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let program of programs | filter:searchText | paginate:{itemsPerPage: 7, currentPage:p}">
                    <td class="name"> {{program.Name}}
                        <div class="row errorMessage ml-auto" *ngIf="!program.hasSchedule">
                            <mat-icon color="orange">error</mat-icon>
                            <span>Missing Schedule (select "Schedule" to fix error)</span>
                        </div>
                        <div class="row errorMessage ml-auto" *ngIf="!program.hasRequirement">
                            <mat-icon color="orange">error</mat-icon>
                            <span>Missing Requirement (select "Edit" to fix error)</span>
                        </div>
                    </td>
                    <td *ngIf="program.ProgramType =='0'"> Group Program </td>
                    <td *ngIf="program.ProgramType =='1'"> Individual Program </td>
                    <td>
                        <button [routerLink]="['/profile', 'program-details', program.ProgramPK, 'view']"
                            class="btn btn-info">
                            <mat-icon matListIcon>visibility</mat-icon> View
                        </button>
                        <button [routerLink]="['/profile', 'program-details', program.ProgramPK, 'edit']"
                            class="btn btn-warning">
                            <mat-icon matListIcon>edit</mat-icon> Edit
                        </button>
                        <button [routerLink]="['/profile','program-details', program.ProgramPK, 'set-program-schedule']"
                            class="btn btn-success">
                            <mat-icon matListIcon>calendar_today</mat-icon> Schedule
                       </button>
                        
                        <!-- <button *ngIf="!program.IsActive" (click)="openModalSwitch(program.ProgramPK, program.IsActive)"
                            class="btn btn-success">
                            <mat-icon matListIcon> visibility </mat-icon> Enable
                        </button> -->
                        <!-- <button *ngIf="program.IsActive" (click)="openModalSwitch(program.ProgramPK, program.IsActive)"
                            class="btn btn-danger">
                            <mat-icon matListIcon> visibility_off </mat-icon> Disable
                        </button> -->
                    </td>    
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <pagination-controls (pageChange)='p=$event' autoHide="true" responsive="true">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>