.mat-button, .mat-raised-button:hover{
  background-color: rgb(6, 3, 189);
} 

  .row-header {
      font-weight: bold;
  }

  
h1 {
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 50px;
    font-weight: bold;
    /* padding-top: 20px; */
    color: #08b2b8; 
}

thead{
  background-color:  rgba(0, 0, 0, 0.658);
  color: white;
}

th, td {
  padding: 10px 5px 10px 5px;
  text-align: left;
}

td {
  font-size: 18px;
}

td.name{
  color:  #08b2b8;
}

th {
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 22px;
  font-weight: bold;
}

.filter{
  padding-bottom: 30px;
  padding-left: 30px;
  font-weight: bold;
}
