<div class="container">
    <div class="row text-center text-white mb-5">
        <div class="col-lg-7 mt-5 mx-auto">
            <h1>User Management</h1>
        </div>
    </div>      
    <div class="row filter">
        <div class="col-lg-2 col-md-2 col-sm-3 p-0">
            <select class="form-control" style = "font-weight: bold" id="userStatus" (change)="selectChangeHandler($event)" >
                <option *ngFor="let item of userStatus" [value]="item.id">{{item.name}}</option>
            </select>
        </div>     
        <div class="col-lg-8 col-md-8 col-sm-7 pr-0">
            <input type="text" class="form-control" placeholder="Type in Username or Keywords to Search" [(ngModel)]="searchText">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <button mat-raised-button color="primary" (click)="clearSearch()">Clear Search</button>
        </div>
    </div>  
    
    <div class="table-responsive-sm">
        <table class="table table-hover" style="width:100%">
            <thead>
                <tr>
                    <th style="width:25%"> User Name </th>
                    <th style="width:20%"> Current Role </th>
                    <th style="width:25%"> Email </th>
                    <th style="width:30%"> Actions</th>
                </tr>
            </thead>
            <tbody *ngFor = "let user of listOfUsers | filter:searchText  | paginate:{itemsPerPage: 7, currentPage:p}">
                <tr *ngIf ="user.UserPK != currentUserID">
                    <td class="name"> {{user.Username}} </td>
                    <td *ngIf="user.Role_FK == 1">Customer</td>
                    <td *ngIf="user.Role_FK == 2">Manager</td>
                    <td *ngIf="user.Role_FK == 3">System Admin</td>
                    
                    <td> {{user.Email}} </td>
                    <td><button [routerLink]="['/profile', 'user-details', user.UserPK]" class="btn btn-warning"> <mat-icon matListIcon>edit</mat-icon> Edit</button>
                        <button *ngIf = "!user.IsActive" (click) = "openModalSwitch(user.UserPK, user.IsActive)"
                            class="btn btn-success">
                            Activate Account  
                        </button>
                        <button *ngIf = "user.IsActive" (click) = "openModalSwitch(user.UserPK, user.IsActive)"
                            class="btn btn-danger">
                            Deactivate Account
                        </button>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <pagination-controls (pageChange)="p=$event" autoHide="true" responsive="true">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>