
.banner{
    background-image: url('https://c.wallhere.com/photos/83/e8/lajolla_sunset_beach_sealion_sea_lion_sandiego_clouds-872451.jpg!d');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    padding-top: 100px;
    padding-bottom: 100px;
    }
    
  
    .container{
        height: 100vh;
        align-content: center;
    }

    .card{
    height: 600px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
    }
    
    .card-header h3{
    color: white;
    }

    .input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

    }
    
    .acceptTerms{
    color: white;
    }
    
    .acceptTerms input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }
    
    .register_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
    }
    
    .register_btn:hover{
    color: black;
    background-color: white;
    }

    .error{
        color: rgb(211, 23, 23);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px;
    }

    .links{
        color: white;
    }
        
    .links a{
        margin-left: 4px;
    }

    
