<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar> 
        <a class="navbar-brand" href="#">
          <img src = "https://files.constantcontact.com/51bd4a7a001/b894f4d9-d76a-48cc-b5b0-3a0d3b8c79cd.png" width="120" height="60"> </a>
      </mat-toolbar>
      <section [routerLinkActive]="['active']" *ngIf = "role == '2' || role == '3'"> Program </section>
      <mat-divider [routerLinkActive]="['active']" *ngIf = "role == '2' || role == '3'"></mat-divider>
      <mat-nav-list [routerLinkActive]="['active']" *ngIf = "role == '2' || role == '3'">
        <a mat-list-item [routerLink]="['/profile/createprogram']" [routerLinkActive]="['active']"> <mat-icon [class.active]="selected" matListIcon>add_circle</mat-icon> New Program</a>
        <a mat-list-item [routerLink]="['/profile/program-management']" [routerLinkActive]="['active']"><mat-icon matListIcon>edit</mat-icon> Program Management</a>
      </mat-nav-list>
      <section *ngIf = "role == '3'"> Account</section>
      <mat-divider *ngIf = "role == '3'"></mat-divider>
      <mat-nav-list *ngIf = "role == '3'">
        <a mat-list-item [routerLink]="['/profile/set-user-role']" [routerLinkActive]="['active']"><mat-icon matListIcon>supervised_user_circle</mat-icon>User Management</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <h1>PACIFIC MARINE MAMMAL CENTER</h1>
        <!-- User Information -->
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown">
          <span>{{userName}} </span>
          <!-- <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60"> -->
          <mat-icon matListIcon>account_circle</mat-icon>
        </a>
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          <a class="dropdown-item" [routerLink]="['/profile', 'profile-info', id]">
            <mat-icon>info</mat-icon>
            Profile
          </a>
          <a class="dropdown-item" [routerLink]="['/profile', 'account-setting', id]">
            <mat-icon>settings</mat-icon>
            Account Setting
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" (click)="auth.logout()">
            <mat-icon>exit_to_app</mat-icon>
            Logout
          </a>
        </div>
      </mat-toolbar>
      <!-- Add Content Here --> 
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  