<div class="container">
    <div class="jumbotron mt-5">
        <div class="col-sm-8 mx-auto">
            <h1 class="text-center">PROFILE</h1>
        </div>
        <table class="table col-md-6 mx-auto">
            <tr>
                <td>Username</td>
                <td>{{ details?.Username }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ details?.Email }}</td>
            </tr>
        </table>
        <div *ngIf="details?.Role_FK == '2'">
            <button class="btn btn-lg btn-primary btn-block" [routerLink]="['/createprogram']">Create New Program</button>
        </div>
        <div *ngIf="details?.Role_FK == '3'">
            <button class="btn btn-lg btn-primary btn-block" [routerLink]="['/createprogram']">Create New Program</button>
            <button class="btn btn-lg btn-primary btn-block" [routerLink]="['/set-user-role']">Set User's role</button>
        </div>
    </div>
</div>