<div class="container">
    <div class="jumbotron mt-5">
        <div class="col-sm-8 mx-auto">
            <h1 class="text-center">PROFILE</h1>
        </div>
        <table class="table col-md-6 mx-auto">
            <tr>
                <td>Username</td>
                <td>{{ details?.username }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ details?.email }}</td>
            </tr>
        </table>
        <button *ngIf="details.role_fk != '1'"  class="btn btn-lg btn-primary btn-block" [routerLink]="['/createprogram']">Create New Program</button>
    </div>
</div>