<div class="container">
    <div class="row text-left">
            <h1>Program Name</h1>
    </div>
    <div class="row text-left font-italic">
      <p>This will be the description of program</p>
    </div>
    <div class="row text-left">
      <p>Price</p>
    </div>
    <div class="row text-left" *ngIf= "bookingGroup.MaximumParticipant">
      <p>Maximum participant: ---</p>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <!-- Adult Quantity -->
      <fieldset class="form-group font-weight-bold" *ngIf = "bookingGroup.AdultQuantity">
        <div class="row">
          <label class="col-form-label col-sm-2 pt-0 pl-0" for="AldultQuantity">Adult Quantity: </label>
          <div class="col-sm-10">
            <input class="form-control" type="number" min = "0" max = "35" placeholder="" formControlName="AldultQuantity" 
                  [ngClass]="{'is-invalid': submitted && f.AldultQuantity.errors }">
            <div *ngIf="submitted && f.AldultQuantity.errors" class="invalid-feedback">
              <div *ngIf="f.AldultQuantity.errors.required">This is required</div>
              <div *ngIf="f.AldultQuantity.errors.max">Maximum for a group is 35</div>
            </div>
          </div>
        </div>
      </fieldset>
      <!-- Age 5-7 -->
      <fieldset class="form-group font-weight-bold" *ngIf = "bookingGroup.Age57Quantity">
        <div class="row">
          <label class="col-form-label col-sm-2 pt-0 pl-0" for="Age57Quantity">Children Age 5-7: </label>
          <div class="col-sm-10">
            <input class="form-control" type="number" min = "0" max = "35" placeholder="" formControlName="Age57Quantity" 
                    [ngClass]="{'is-invalid': submitted && f.Age57Quantity.errors }">
            <div *ngIf="submitted && f.Age57Quantity.errors" class="invalid-feedback">
              <div *ngIf="f.Age57Quantity.errors.required">This is required</div>
              <div *ngIf="f.Age57Quantity.errors.max">Maximum for a group is 35</div>
            </div>
          </div>
        </div>
      </fieldset>
      <!-- Age 8-10 -->
      <fieldset class="form-group font-weight-bold" *ngIf = "bookingGroup.Age810Quantity">
        <div class="row">
          <label class="col-form-label col-sm-2 pt-0 pl-0" for="Age810Quantity">Children Age 8-10: </label>
          <div class="col-sm-10">
            <input class="form-control" type="number" min = "0" max = "35" placeholder="" formControlName="Age810Quantity" 
                    [ngClass]="{'is-invalid': submitted && f.Age810Quantity.errors }">
            <div *ngIf="submitted && f.Age810Quantity.errors" class="invalid-feedback">
              <div *ngIf="f.Age810Quantity.errors.required">This is required</div>
              <div *ngIf="f.Age810Quantity.errors.max">Maximum for a group is 35</div>
            </div>
          </div>
        </div>
      </fieldset>
      <!-- Age 11-13 -->
      <fieldset class="form-group font-weight-bold" *ngIf = "bookingGroup.Age1113Quantity">
        <div class="row">
          <label class="col-form-label col-sm-2 pt-0 pl-0" for="Age1113Quantity">Children Age 11-13: </label>
          <div class="col-sm-10">
            <input class="form-control" type="number" min = "0" max = "35" placeholder="" formControlName="Age810Quantity" 
                    [ngClass]="{'is-invalid': submitted && f.Age1113Quantity.errors }">
            <div *ngIf="submitted && f.Age1113Quantity.errors" class="invalid-feedback">
              <div *ngIf="f.Age1113Quantity.errors.required">This is required</div>
              <div *ngIf="f.Age1113Quantity.errors.max">Maximum for a group is 35</div>
            </div>
          </div>
        </div>
      </fieldset>
      <!-- Scout Program -->
      <fieldset class="form-group font-weight-bold" *ngIf = "bookingGroup.ScoutProgram">
        <div class="row">
          <label class="col-form-label col-sm-2 pt-0 pl-0" for="ScoutProgram">Scout Program: </label>
          <div class="col-sm-10">
            <p class="info font-weight-normal font-italic"> Please select type of program:</p>
            <select class="form-control " formControlName="ScoutProgram" [ngClass]="{'is-invalid': submitted && f.ScoutProgram.errors }">
              <option>Daisy Program </option>
              <option>Brownie Program</option>
              <option>Junior Program</option>
              <option>Cadette Program</option>
            </select>
            <div *ngIf="submitted && f.ScoutProgram.errors" class="invalid-feedback">
              <div *ngIf="f.ScoutProgram.errors.required">This is required</div>
            </div>
          </div>
        </div>
      </fieldset>
      <!-- Education FK -->
      <fieldset class="form-group font-weight-bold" *ngIf = "bookingGroup.EducationFK">
        <div class="row">
          <label class="col-form-label col-sm-2 pt-0 pl-0" for="EducationFK">Education Content: </label>
          <div class="col-sm-10">
            <p class="info font-weight-normal font-italic"> Please choose an education content below:</p>
            <select class="form-control" formControlName="EducationFK" [ngClass]="{'is-invalid': submitted && f.ScoutProgram.errors }">
              <option>Power Point 1</option>
              <option>Power Point 2</option>
              <option>Power Point 3</option>
              <option>Power Point 4</option>
            </select>
            <div *ngIf="submitted && f.EducationFK.errors" class="invalid-feedback">
              <div *ngIf="f.EducationFK.errors.required">This is required</div>
            </div>
          </div>
        </div>
      </fieldset>
      <!-- Organization Name -->
      <fieldset class="form-group font-weight-bold" *ngIf = "bookingGroup.OrganizationName">
        <div class="row">
          <label class="col-form-label col-sm-2 pt-0 pl-0" for="OrganizationName">School Name: </label>
          <div class="col-sm-10">
            <input class="form-control" type="text" placeholder="" formControlName="OrganizationName" 
                  [ngClass]="{'is-invalid': submitted && f.OrganizationName.errors }">
            <div *ngIf="submitted && f.OrganizationName.errors" class="invalid-feedback">
              <div *ngIf="f.OrganizationName.errors.required">This is required</div>
              <div *ngIf="f.OrganizationName.errors.minlength">Must be at least 3 characters long.</div>
            </div>
          </div>
        </div>
      </fieldset>
      <!-- Teacher Name -->
      <fieldset class="form-group font-weight-bold" *ngIf = "bookingGroup.TeacherName">
        <div class="row">
          <label class="col-form-label col-sm-2 pt-0 pl-0" for="TeacherName">Teacher Name: </label>
          <div class="col-sm-10">
            <input class="form-control" type="text" placeholder="" formControlName="TeacherName" 
                  [ngClass]="{'is-invalid': submitted && f.TeacherName.errors }">
            <div *ngIf="submitted && f.TeacherName.errors" class="invalid-feedback">
              <div *ngIf="f.TeacherName.errors.required">This is required</div>
              <div *ngIf="f.TeacherName.errors.minlength">Must be at least 3 characters long.</div>
            </div>
          </div>
        </div>
      </fieldset>
      <!-- Teacher Email -->
      <fieldset class="form-group font-weight-bold" *ngIf = "bookingGroup.TeacherEmail">
        <div class="row">
          <label class="col-form-label col-sm-2 pt-0 pl-0" for="TeacherEmail">Teacher Email: </label>
          <div class="col-sm-10">
            <input class="form-control" type="text" placeholder="" formControlName="TeacherEmail"
                  [ngClass]="{ 'is-invalid': submitted && f.TeacherEmail.errors }" />
            <div *ngIf="submitted && f.TeacherEmail.errors" class="invalid-feedback">
                <div *ngIf="f.TeacherEmail.errors.required">Email is required</div>
                <div *ngIf="f.TeacherEmail.errors.email">Email must be a valid email address</div>
            </div>
          </div>
        </div>
      </fieldset>
      <!-- Teacher Phone Number -->
      <fieldset class="form-group font-weight-bold" *ngIf = "bookingGroup.TeacherPhoneNo">
        <div class="row">
          <label class="col-form-label col-sm-2 pt-0 pl-0" for="TeacherPhoneNo">Teacher Phone Number: </label>
          <div class="col-sm-10">
            <input class="form-control" type="text" placeholder="xxx-xxx-xxxx" formControlName="TeacherPhoneNo"
                  [ngClass]="{ 'is-invalid': submitted && f.TeacherPhoneNo.errors }" />
            <div *ngIf="submitted && f.TeacherPhoneNo.errors" class="invalid-feedback">
              <div *ngIf="f.TeacherPhoneNo.errors.required">This is required</div>
              <div *ngIf="f.TeacherPhoneNo.errors.minlength">Please enter correct phone number</div>
              <div *ngIf="f.TeacherPhoneNo.errors.pattern">Invalid Phone Number</div>
            </div>
          </div>
        </div>
      </fieldset>
      <!-- Grade Level  -->
      <fieldset class="form-group font-weight-bold" *ngIf = "bookingGroup.GradeLevel">
        <div class="row">
          <label class="col-form-label col-sm-2 pt-0 pl-0" for="GradeLevel">Grade Level </label>
          <div class="col-sm-10">
            <select class="form-control" formControlName="GradeLevel" [ngClass]="{ 'is-invalid': submitted && f.GradeLevel.errors }">
              <option>Kindergarten </option>
              <option>1st</option>
              <option>2nd</option>
              <option>3rd</option>
              <option>4th</option>
              <option>5th</option>
              <option>6th</option>
              <option>7th</option>
              <option>8th</option>
              <option>9th</option>
              <option>10th</option>
              <option>11th</option>
              <option>12th</option>
            </select>
            <div *ngIf="submitted && f.GradeLevel.errors" class="invalid-feedback">
              <div *ngIf="f.GradeLevel.errors.required">This is required</div>
            </div>
          </div>
        </div>
      </fieldset>
      <!-- Total Quantity   -->
      <fieldset class="form-group font-weight-bold" *ngIf = "bookingGroup.TotalQuantity">
        <div class="row">
          <label class="col-form-label col-sm-2 pt-0 pl-0" for="TotalQuantity">Number of Participating Students: </label>
          <div class="col-sm-10">
            <input class="form-control" type="text" placeholder="" formControlName="TotalQuantity" 
                  [ngClass]="{ 'is-invalid': submitted && f.TotalQuantity.errors }">
            <div *ngIf="submitted && f.TotalQuantity.errors" class="invalid-feedback">
              <div *ngIf="f.TotalQuantity.errors.required">This is required</div>
            </div>
          </div>
        </div>
      </fieldset>
      <!-- Program Restriction  -->
      <fieldset class="form-group font-weight-bold" *ngIf = "bookingGroup.ProgramRestriction">
        <div class="row">
          <label class="col-form-label col-sm-2 pt-0 pl-0" for="ProgramRestriction">Are you a Title One School? </label>
          <div class="col-sm-10">
            <select class="form-control" formControlName="GradeLevel" [ngClass]="{ 'is-invalid': submitted && f.ProgramRestriction.errors }">
              <option>No </option>
              <option>Yes</option>
            </select>
            <div *ngIf="submitted && f.ProgramRestriction.errors" class="invalid-feedback">
              <div *ngIf="f.ProgramRestriction.errors.required">This is required</div>
            </div>
          </div>
        </div>
      </fieldset>
      <!-- Deposit  -->
      <div class="form-group font-weight-bold" *ngIf = "bookingGroup.Deposit">
        <label for="Deposit">This program requires deposit. </label>
      </div>
      <div class="form-group font-weight-bold" *ngIf = "bookingGroup.DepositAmount">
        <label for="DepositAmount">Deposit Amount: $$$$ </label>
      </div>
      <div class="form-group font-weight-bold" *ngIf = "bookingGroup.FullAmount">
        <label for="FullAmount">This program requires you to pay full amount. </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>