.container {
  padding-top: 100px;
  padding-bottom: 56px;
}

.row{
padding-top: 10px;
}


h1 {
  font-family: sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
  padding-top: 20px;
  color: #0ebbff; 
}