hr{
  padding-left: 5px;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif; 
    font-size: 50px;
    font-weight: bold;
    padding-top: 20px;
    color:  #08b2b8;
}

.error-message{
  color: red;
  font-weight: normal;
  padding-top: 2px;
}

thead{
  background-color:  rgba(0, 0, 0, 0.658);
  color: white;
}

th, td {
  padding: 5px;
  text-align: center;
}

td {
  font-size: 14px;
  font-weight: normal;
}

th {
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 18px;
  font-weight: bold;
}

.padding-0{
  padding-right:0;
  padding-left:0;
}

/*Add table border */
table.table-hover{
  /* border:1px solid black; */
  margin-top:10px;
}
table.table-hover > thead > tr > th{
  border:1px solid white;
}
table.table-hover > tbody > tr > td{
  /* border:1px solid black; */
}

.mat-button, .mat-raised-button:hover{
  background-color: rgb(6, 3, 189);  
} 

/* #addButton {
  margin-right: 30px;
  background-color:#f0ad4e;
  color: white;
} */

button:focus, button:active:focus, button.active:focus {
  outline: none !important;
  outline-style: none !important;
  }

/* 
mat-button-toggle-group {
  box-shadow: none;
}

mat-button-toggle {
    border: 2px rgba(0,0,0,0) solid !important;
    margin-top: 5px !important;
    padding: 0 5px !important;
    z-index: 3 !important;
    font-weight: normal;
}

mat-button-toggle:hover {
    border: 1px #000 solid !important;
    background-color: #FFF !important;
    border-radius: 5px !important;
}

.mat-button-toggle-checked {
    border: 1px #08b2b8 solid ;  
    border-radius: 5px;
    background-color:#08b2b8;
    color: white;
    font-weight: bold;
}

.mat-button-toggle-input {
    background-color: none !important;
    padding-left: 32px !important;
} */