<div class="container">
    <div class="row text-center text-white mb-3 mt-4">
        <div class="col-lg-7 mx-auto">
            <h1>Program Schedule</h1>            
        </div>
    </div>
    <form [formGroup]="SetProgramScheduleForm" >
        <div class="form-group font-weight-bold container">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Program</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <br/>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Program Name</label>
                        </div>
                        <div class="col-md-10">
                            <input type="text" class="form-control" formControlName="programName" [(ngModel)]="programData.Name" readonly>
                        </div>                
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Program Color:</label>
                        </div>
                        <div class="col-md-1">
                            <kendo-colorpicker 
                                #picker
                                [view]="'palette'"
                                [format]="'hex'"
                                [paletteSettings]="settings"
                                [(value)]="selectedColor"
                            >
                            </kendo-colorpicker>
                        </div>
                        <div class="col-md-2">
                            <button mat-raised-button onclick="this.blur()" color="primary" (click)="setProgramColor()">
                                Set Color
                            </button>
                        </div>
                        <div class="col-md-4" *ngIf="programColorMessage">
                            <div class="successColorMessage">
                                <mat-icon matListIcon id="doneIcon">check_circle</mat-icon>
                                {{programColorMessage}}
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>            
            <br/>
            <mat-card>
                <mat-card-header>                                  
                    <mat-card-title>Current Schedule </mat-card-title>
                    <mat-card-subtitle>You can define a new schedule that will start on a specified date.</mat-card-subtitle>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <br/>
                            <div class="row">                                
                                <div class="col-md-3">                                    
                                    <button mat-raised-button onclick="this.blur()" color="primary" (click)="addNewScheduleModal()">
                                        <mat-icon matListIcon>add</mat-icon> New Schedule
                                    </button>                                
                                </div>
                                <div class="col-md-7" *ngIf="scheduleSuccessMessage">
                                    <div class="successColorMessage">
                                        <mat-icon matListIcon id="doneIcon">check_circle</mat-icon>
                                        {{scheduleSuccessMessage}}
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="!hasSchedule">
                                <p>Please select "New Schedule" to create new schedule.</p>
                            </div>
                            <div class="row" *ngIf="hasSchedule">
                                <div class="col padding-0">
                                    <div class="table-responsive-sm">
                                        <table #datatable class="table  table-hover" on-mouseleave="hoveredIndex=null" style="width:70%">
                                            <thead>
                                                <tr>
                                                    <th style="width:15%">From</th>
                                                    <th style="width:15%">To</th>
                                                    <th style="width:40%">Schedule Name</th>
                                                    <th style="width:20%">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let schedule of allScheduleSettings; let index=index" 
                                                        on-mouseover="hoveredIndex=index">
                                                    <td class="scheduleTable">{{schedule.tempStart}}</td>
                                                    <td class="scheduleTable">{{schedule.tempEnd}}</td>
                                                    <td class="scheduleTable">
                                                        <div class="row">
                                                            <div class="col-md-7">
                                                                {{schedule.ScheduleSettingName}} 
                                                            </div>
                                                            <div class="col-md-3">
                                                                <mat-icon matListIcon id="doneIcon" *ngIf="schedule.IsSelected">check_circle</mat-icon>
                                                                <button mat-stroked-button color="primary" *ngIf="index==hoveredIndex && !schedule.IsSelected"
                                                                    (click)="viewSchedule(schedule)">
                                                                    View
                                                                </button>
                                                            </div>
                                                        </div>                                                
                                                    </td>
                                                    <td>
                                                        <button mat-icon-button onclick="this.blur()" matTooltip="Edit Schedule" 
                                                            (click)="editScheduleModal(schedule)" >
                                                            <mat-icon>edit</mat-icon>
                                                        </button>
                                                        <button mat-icon-button color="warn" id="removeButton" onclick="this.blur()"
                                                            matTooltip="Remove Schedule"(click)="removeScheduleSetting(schedule)" >
                                                            <mat-icon>delete</mat-icon>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>                        
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <br/>
            <mat-card>
                <mat-card-header>                                  
                    <mat-card-title>Current Sessions</mat-card-title>
                    <mat-card-subtitle>Display all available sessions in a schedule</mat-card-subtitle>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">                            
                            <br/>
                            <div class="row">                                
                                <div class="col-md-3">
                                    <button mat-raised-button onclick="this.blur()" color="primary" (click)="addNewSessionDetailsModal()" [disabled]="!hasSchedule">
                                        <mat-icon matListIcon>add</mat-icon> New Session
                                    </button>                                
                                </div>     
                                <div class="col-md-7" *ngIf="sessionSuccessMessage">
                                    <div class="successColorMessage">
                                        <mat-icon matListIcon id="doneIcon">check_circle</mat-icon>
                                        {{sessionSuccessMessage}}
                                    </div>
                                </div>                   
                            </div>
                            <div class="row" *ngIf="!hasSession && hasSchedule">
                                <p>Please select "New Session" to create new session.</p>
                            </div>                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="row" *ngIf="hasSession && hasSchedule">
                                <div class="col-md-12 text-center">
                                    <p>This <strong>{{currentScheduleSetting.ScheduleSettingName}}</strong> schedule is effective from 
                                        {{currentScheduleSetting.tempStart}} to {{currentScheduleSetting.tempEnd}}.
                                    </p>
                                </div>
                                <!--  Create table -->
                                <div class="col padding-0" *ngFor="let day of dayArr">
                                    <div class="table-responsive-sm">
                                        <table #datatable class="table table-hover" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th style="width:100%">{{day.day}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of day.eventList">
                                                    <td>
                                                        {{item.tempStart}} <br/>to {{item.tempEnd}}                                                
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>                        
                            </div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>                    
                    <div class="row pt-3">
                        <div class="col-md-2"></div>
                        <div class="col-md-6 text-center">
                            <h6>You can edit the session's info in the table below.</h6>
                        </div>                        
                    </div>
                    <div class="row" *ngIf="hasSession">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col padding-0">
                                    <div class="table-responsive-sm">
                                        <table #datatable class="table  table-hover" on-mouseleave="hoveredIndex=null" style="width:70%">
                                            <thead>
                                                <tr>
                                                    <th style="width:20%">Session</th>
                                                    <th style="width:20%">Repeat on</th>
                                                    <th style="width:15%">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let session of allSessions">
                                                    <td *ngIf="session.ScheduleSettingPK == currentScheduleSetting.ScheduleSettingPK">
                                                        {{session.tempStart}} - {{session.tempEnd}}</td>
                                                    <td *ngIf="session.ScheduleSettingPK == currentScheduleSetting.ScheduleSettingPK" >
                                                        {{session.RepeatDay}}</td>
                                                    <td *ngIf="session.ScheduleSettingPK == currentScheduleSetting.ScheduleSettingPK">
                                                        <button mat-icon-button onclick="this.blur()" matTooltip="Edit Session" 
                                                            (click)="updateSessionDetailsModal(session)" >
                                                            <mat-icon>edit</mat-icon>
                                                        </button>
                                                        <button mat-icon-button color="warn" id="removeButton" onclick="this.blur()"
                                                            matTooltip="Remove Schedule" (click)="removeSessionDetailsModal(session)" >
                                                            <mat-icon>delete</mat-icon>
                                                        </button>                                            
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>   
                            </div>                     
                        </div>
                    </div>  
                </mat-card-content>
            </mat-card>
            <br/>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Additional Sessions</mat-card-title>
                    <mat-card-subtitle>You can add one-off Programs on specific dates and times.</mat-card-subtitle>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div class="row" >
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <br/>
                            <div class="row">                                
                                <div class="col-md-3">
                                    <button mat-raised-button color="primary" onclick="this.blur()" (click)="addNewAdditionalSessionDetailsModal()">
                                        <mat-icon matListIcon>add</mat-icon> New additional session                             
                                    </button>                                
                                </div>
                                <div class="col-md-7" *ngIf="additionalSessionSuccessMessage">
                                    <div class="successColorMessage">
                                        <mat-icon matListIcon id="doneIcon">check_circle</mat-icon>
                                        {{additionalSessionSuccessMessage}}
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="hasAdditionalSession">
                                <div class="col padding-0">
                                    <div class="table-responsive-sm">
                                        <table #datatable class="table  table-hover" on-mouseleave="hoveredIndex=null" style="width:70%">
                                            <thead>
                                                <tr>
                                                    <th style="width:20%">Date</th>
                                                    <th style="width:20%">Time</th>
                                                    <th style="width:15%">Notes</th>
                                                    <th style="width:15%">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let session of allAdditionalSessions">
                                                    <td>{{session.tempDate}}</td>
                                                    <td>{{session.tempStart}} - {{session.tempEnd}}</td>
                                                    <td>{{session.Description}}</td>
                                                    <td>
                                                        <button mat-icon-button onclick="this.blur()" matTooltip="Edit Session" 
                                                            (click)="updateAdditionalSessionDetailsModal(session)" >
                                                            <mat-icon>edit</mat-icon>
                                                        </button>
                                                        <button mat-icon-button color="warn" id="removeButton" onclick="this.blur()"
                                                            matTooltip="Remove Schedule" (click)="removeAdditionalSessionDetailsModal(session)" >
                                                            <mat-icon>delete</mat-icon>
                                                        </button>                                            
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>   
                            </div>                     
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <br>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Black-out Date</mat-card-title>
                    <mat-card-subtitle>Program is NOT available during the following days/periods.</mat-card-subtitle>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <br/>
                            <div class="row">                                
                                <div class="col-md-3">                                    
                                    <button mat-raised-button color="primary" onclick="this.blur()" (click)="addBlackoutDateModal()" >
                                        <mat-icon matListIcon>add</mat-icon> New Black-out date                                
                                    </button>                                
                                </div>
                                <div class="col-md-7" *ngIf="blackoutDateSuccessMessage">
                                    <div class="successColorMessage">
                                        <mat-icon matListIcon id="doneIcon">check_circle</mat-icon>
                                        {{blackoutDateSuccessMessage}}
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="hasBlackoutDate">
                                <div class="col padding-0">
                                    <div class="table-responsive-sm">
                                        <table #datatable class="table table-hover" style="width:70%">
                                            <thead>
                                                <tr>
                                                    <th style="width:20%">From</th>
                                                    <th style="width:20%">To</th>
                                                    <th style="width:15%">Notes</th>
                                                    <th style="width:15%">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let date of allBlackoutDates">
                                                    <td>{{date.tempStart}}</td>
                                                    <td>{{date.tempEnd}}</td>
                                                    <td>{{date.Description}}</td>
                                                    <td>
                                                        <button mat-icon-button onclick="this.blur()" matTooltip="Edit" 
                                                            (click)="updateBlackoutDateModal(date)" >
                                                            <mat-icon>edit</mat-icon>
                                                        </button>
                                                        <button mat-icon-button color="warn" id="removeButton" onclick="this.blur()"
                                                            matTooltip="Remove" (click)="removeBlackoutDateModal(date)" >
                                                            <mat-icon>delete</mat-icon>
                                                        </button>                                            
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>                        
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <br/>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 form-group">              
                    <button class="btn btn-lg btn-info btn-block" type="submit" [routerLink]="['/profile','schedule-management']">Save</button>
                </div>
            </div>
        </div>
    </form>    
</div>