<div class="container">
  <div class="row text-center">
      <div class="col-lg-7 mt-3 mx-auto">
          <h1>Reservation Management</h1>
      </div>
  </div> 

  <!-- SEARCH BAR -->
  <div class="row filter">
        <div class="col-lg-2 col-md-2 col-sm-3 p-0">
            <select class="form-control" style="font-weight: bold" id="programCat" (change)="selectChangeHandler($event)">
                <option *ngFor="let item of programCategories" [value]="item.id">{{item.name}}</option>
            </select>
        </div>
        <div *ngIf = "role == 2 || role == 3" class="col-lg-2 col-md-2 col-sm-3 pr-3">
            <select class="form-control" style="font-weight: bold" id="typeCat" (change)="selectTypeHandler($event)">
                <option selected value="0"> --- Status --- </option>
                <option *ngFor="let type of typeCategories" [value]="type.id">{{type.name}}</option>
            </select>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 pr-0">
            <input type="text" class="form-control" placeholder="Type in Program Name or Keywords to Search"
                [(ngModel)]="searchText">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <button mat-raised-button color="primary" (click)="clearSearch()" onfocus="blur()">Clear Search</button>
        </div>
  </div>

  <div class="table-responsive-sm hide-with-small">
      <!-- List of all reservations for admin -->
      <table #datatable class="table table-hover" style="width:100%" *ngIf = "role == 2 || role == 3">
          <thead>
              <tr>
                  <th style="width:7.5%"> #Res </th>
                  <th style="width:17.5%"> Program Name </th>
                  <th style="width:12%"> Date </th>
                  <th title="Ongoing: Haven't attended yet
Attended: Attened the program + Not completed payment yet
Completed: Attened the program + Completed payment
Cancelled: Cancelled reservation" style="width:10%"> Status <small><mat-icon matListIcon >report</mat-icon></small> </th>
                  <th style="width:15%"> Name </th>
                  <th style="width:10%"> Total </th>
                  <th style="width:10%"> Remaining </th>
                  <th colspan="2" style="width:18%"> Action </th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let reservation of filterReservations | filter:searchText | paginate:{itemsPerPage: 7, currentPage:p}">
                  <td> {{reservation.ReservationPK}} </td>
                  <td> {{reservation.ProgramName}} </td>
                  <td> {{reservation.Date}}</td>
                  <td *ngIf ="reservation.ReservationStatus == 'Pending'" class='pending'> {{reservation.ReservationStatus}}</td>
                  <td *ngIf ="reservation.ReservationStatus == 'Attended'" class='attended'> {{reservation.ReservationStatus}}</td>
                  <td *ngIf ="reservation.ReservationStatus == 'On Going'" class='ongoing'> {{reservation.ReservationStatus}}</td>
                  <td *ngIf ="reservation.ReservationStatus == 'Completed'" class='completed'> {{reservation.ReservationStatus}}</td>
                  <td *ngIf ="reservation.ReservationStatus == 'Cancelled'" class='cancelled'> {{reservation.ReservationStatus}}</td>
                  <td *ngIf ="reservation.ReservationStatus == 'Pending'" class='pending'> {{reservation.ReservationStatus}}</td>
                  <td> {{reservation.CustomerName}} </td>
                  <td> ${{reservation.Total}} </td>
                  <td> ${{reservation.RemainingBalance}} </td>
                  <td> 
                      <button mat-raised-button class="btn btn-warning" type="submit" (click)="openReservationModal(reservation)" onfocus="blur()">View</button>
                  </td>
                  <td>
                      <button *ngIf = "reservation.ReservationStatus == 'On Going'" mat-raised-button class="btn btn-danger" type="submit" (click)="openCancelModal()" onfocus="blur()">Cancel</button>
                  </td>
              </tr>
          </tbody>
      </table>
      <!-- List of Reservarion By Customer -->
      <table #datatable class="table table-hover" style="width:100%" *ngIf = "role == 1 || role == 4">
          <thead>
              <tr>
                  <th style="width:7%"> #ID </th>
                  <th style="width:20%"> Program Name </th>
                  <th title="Ongoing: Haven't attended yet
Attended: Attened the program + Not completed payment yet
Completed: Attened the program + Completed payment
Cancelled: Cancelled reservation" style="width:11%"> Status <small><mat-icon matListIcon >report</mat-icon></small> </th>
                  <th style="width:11%"> Date </th>
                  <th style="width:11%"> Time </th>
                  <th style="width:7%"> Quantity </th>
                  <th style="width:8%"> Total </th>
                  <th style="width:15%"> Remaining </th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let reservation of reservations | filter:searchText | paginate:{itemsPerPage: 7, currentPage:p}">
                  <td> {{reservation.ReservationPK}} </td>
                  <td> {{reservation.ProgramName}} </td>
                  <td *ngIf ="reservation.ReservationStatus == 'Attended'" class='attended'> {{reservation.ReservationStatus}}</td>
                  <td *ngIf ="reservation.ReservationStatus == 'On Going'" class='ongoing'> {{reservation.ReservationStatus}}</td>
                  <td *ngIf ="reservation.ReservationStatus == 'Completed'" class='completed'> {{reservation.ReservationStatus}}</td>
                  <td *ngIf ="reservation.ReservationStatus == 'Cancelled'" class='cancelled'> {{reservation.ReservationStatus}}</td>
                  <td *ngIf ="reservation.ReservationStatus == 'Pending'" class='pending'> {{reservation.ReservationStatus}}</td>
                  <td *ngIf ="reservation.ReservationStatus == 'Pending'" class='pending'> {{reservation.ReservationStatus}}</td>
                  <td> {{reservation.Date}}</td>
                  <td> {{reservation.Time}}</td>
                  <td> {{reservation.Quantity}} </td>
                  <td> ${{reservation.Total}} </td>
                  <td> ${{reservation.RemainingBalance}} 
                      <button *ngIf = "reservation.RemainingBalance != 0 && reservation.ReservationStatus != 'Pending'" mat-raised-button class="btn btn-warning float-right" type="submit" (click)="openPaynowModal()" onfocus="blur()">Pay Now</button>
                  </td>
              </tr>
          </tbody>
      </table>
      <div class="row">
          <div class="col-sm-12">
              <pagination-controls class="float-right" (pageChange)="p=$event" autoHide="true" responsive="true">
              </pagination-controls>
          </div>
      </div>
  </div>  
</div>