h1 {
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 50px;
  font-weight: bold;
  padding-top: 20px;
  color: #08b2b8; 
} 

h5 {
  color: #08b2b8 !important;
  font-weight: bold;
  text-decoration: underline;
}

hr{
  margin-top: 2em;
  margin-bottom:-1em;
}

.mat-button, .mat-raised-button:hover{
  background-color: rgb(6, 3, 189);
} 

.list-group{
  border-width:0px;
}

.container {
  padding-top: 120px;
}

.col-lg-12{
  padding-bottom: 25px;
}

.nav-link{
  color: #252525;
  font-weight: normal;
}

body{
  background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://c.wallhere.com/photos/83/e8/lajolla_sunset_beach_sealion_sea_lion_sandiego_clouds-872451.jpg!d');
  background-size:100%;
} 

a:hover {
  background-color:#a5a5a5 !important;
}

.filter{
  padding: 20px;
  margin-left: 50px;
  font-weight: bold;
}