#modal-content-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    color: white;  
      
}

#modal-title {
    font-size: 22px;
    color: #333333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;

}

.reset-btn{
    width: 150px;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;

    background: #16222A; 
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A); 
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
}

.reset-btn:hover{
    text-decoration: underline;
    text-shadow: whitesmoke;
}

#modal-footer {
    justify-self: right;
    align-self: center;
    padding-top: 10px;
}

#modal-body{
    color: black;
    padding-top: 10px;
    padding-bottom: 20px;
}

#modal-action-button {
    margin-right: 30px;
    background-color:#f0ad4e;
    color: white;
}

#modal-warning-action-button {
    margin-right: 30px;
    background-color:rgb(230, 32, 32);
    color: white;
}

#modal-cancel-button {
    background-color: #4e4e4e;
    color: white;
}

label{
    margin-bottom:0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

alert-danger{
    padding-right: 2rem;
}

/* .modal-open .modal {
    width: 300px;
    margin: 0 auto;
} */

input, textarea{
    color: #000;
}