<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5 mx-auto">
            <form>
                <h1 class="text-center text-info pb-5 pt-5">Program Details</h1>
                <div class="form-group font-weight-bold">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Program Name</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="name" [(ngModel)]="programData.Name" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="des font-weight-bold">
                        <label>Description</label>
                    </div>
                    <ckeditor [editor]="Editor" [(ngModel)]="programData.Description" name="description"
                        readOnly="true"></ckeditor>
                </div>
                <div class="form-group font-weight-bold">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Full Amount</label>
                        </div>
                        <div class="col-md-8">
                            <input type="number" class="form-control" name="fullamount"
                                [(ngModel)]="programData.FullAmount" readonly>
                        </div>
                    </div>

                </div>
                <div class="form-group font-weight-bold">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Program Type</label>
                        </div>
                        <div class="col-md-8">
                            <select id="programCat" (change)="selectChangeHandler($event)">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group font-weight-bold">
                    <div class="row">
                        <img class="card-img flex-fill" [src]="programData.ImgData" alt="Card image cap">
                    </div>
                </div>
                <form (submit)="upLoad()" encType="multipart/form-data">
                    <input type="file" name="sampleFile" />
                    <input type='submit' value='Upload!' />
                </form>
                <div *ngIf = "selectedValue=='1'"><i-program></i-program></div>
                <div class="button pt-5 pb-5">
                    <button class="btn btn-lg btn-info btn-block " type="submit">Update Program Details</button>
                </div>
            </form>

        </div>
    </div>
</div>