<div class="container">
    <div class="row text-center mb-5 mt-4">
        <div class="col-lg-7 mx-auto">
            <h1>Payment Management</h1>
        </div>
    </div>
    <!-- SEARCH -->
    <div class="row filter">
        <div class="col-lg-2 col-md-2 col-sm-3 p-0">
            <select class="form-control" style="font-weight: bold;" id="paymentCat"
                (change)="selectChangeHandler($event)">
            </select>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-7 pr-0">
            <input type="text" class="form-control" placeholder="Type in Program Name or Keywords to Search"
                [(ngModel)]="searchText">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <button mat-raised-button color="primary" (click)="clearSearch()">Clear Search</button>
        </div>
    </div>
    <!-- TABLE -->
    <div class="table-responsive-sm">
        <table #datatable class="table table-hover" style="width:100%">
            <thead>
                <tr>
                    <th style="width:10%"> User</th>
                    <th style="width:30%"> Program Name</th>
                    <th style="width:20%"> Program Type</th>
                    <th style="width:10%"> Amount</th>
                    <th style="width:30%"> Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> alice_nguyen </td>
                    <td> Change the Life of a Seal </td>
                    <td> Group Program </td>
                    <td> $35 </td>
                    <td> <button class="btn btn-success">
                        <mat-icon matListIcon>visibility</mat-icon> View Invoice
                    </button>
                    <button class="btn btn-danger">
                        <mat-icon matListIcon>swap_horizontal_circle</mat-icon> Refund
                    </button></td>
                </tr>
                <tr>
                    <td> brian_pham </td>
                    <td> Camp Pinniped </td>
                    <td> Individual Program </td>
                    <td> $55 </td>
                    <td> <button class="btn btn-success">
                        <mat-icon matListIcon>visibility</mat-icon> View Invoice
                    </button>
                    <button class="btn btn-danger">
                        <mat-icon matListIcon>swap_horizontal_circle</mat-icon> Refund
                    </button></td>
                </tr>
                <tr>
                    <td> anna_tran </td>
                    <td> Girl Scouts </td>
                    <td> Group Program </td>
                    <td> $25 </td>
                    <td> <button class="btn btn-success">
                        <mat-icon matListIcon>visibility</mat-icon> View Invoice
                    </button>
                    <button class="btn btn-danger">
                        <mat-icon matListIcon>swap_horizontal_circle</mat-icon> Refund
                    </button></td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>



