<div class="container">
    <div class="row">
        <div class="col-md-6 mt-4 mb-5 mx-auto">
            <form>
                <fieldset [disabled]="isDisabled">
                <h1 class="text-center">Email Editor</h1>
                <div class="form-group font-weight-bold">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Subject</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="name" [(ngModel)]="emailData.Subject">
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="font-weight-bold">Body</label>
                    <ckeditor [editor]="Editor" [disabled]="isDisabled" (ready)="onReady($event)" name="editor" [(ngModel)]="emailData.Body"></ckeditor>
                </div>
                <div *ngIf="this.emailData.HasAttachments" class="form-group">
                    <label class='font-weight-bold'> Current Attachments: </label><br>
                    <ul>
                        <li *ngFor="let attachment of this.currentAttachments" class="row">
                            {{attachment}}<button mat-mini-fab (click)='openAttachmentModal(attachment)'> <mat-icon>delete</mat-icon> </button>
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                <!-- <div *ngIf="this.emailData.Type == 'Specific Program'" class="form-group"> -->
                    <div class="col-md-12 font-weight-bold">
                        <label>New Attachments (Accepts: .pdf, .doc, .docx)</label>
                    </div>
                    <div class="col-md-8">
                        <!-- add file change function -->
                        <input nv-file-select='' type="file" id="file" [disabled]="isDisabled" accept=".pdf,.doc,.docx" (change)='onFileChange($event)' multiple>
                        
                    </div>
                    <div id="filelist"></div>
                </div>
                <div class="form-group font-weight-bold">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Group</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="emailType"
                            [(ngModel)]="emailTypeText" readonly>
                        </div>
                    </div>
                </div>
                <div *ngIf='PageMode == "edit"' class="button pt-5 pb-5">
                    <button class="btn btn-lg btn-info btn-block " type="submit" (click)="openSubmissionModal()" onfocus="blur()">Update Email</button>
                </div>
            </fieldset>
            </form>

        </div>
    </div>
</div>