h1 {
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 40px;
    font-weight: bold;
    color: #08b2b8; 
}

.btn-checkout{
    background-color: #08b2b8;
    color:white;
  }
  
  .btn-checkout:hover{
    background-color: #075155;
  }
