h1 {
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 40px;
    font-weight: bold;
    color: #08b2b8; 
}

.btn-checkout{
    background-color: #08b2b8;
    color:white;
  }
  
  .btn-checkout:hover{
    background-color: #075155;
  }

  .form-group{
    padding: 20px;
}

.row-header {
    font-weight: bold;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 45px;
  font-weight: bold;
  padding-top: 20px;
  color: #08b2b8; 
}

.text-bold{
    font-weight: bold;
}

.errorMessage{
    color: red;
}

 .StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}