<div class="container">
    <h4 class="text-center">Choose the options you'd like to display:</h4>
      <div class="row">
        <div class="col-md-7">
          <h5> ParticipateName: </h5>
        </div>
        <div class="col-md-5">
          <mat-radio-group aria-label="Select an option"  [(ngModel)]="bookingIndividual.ParticipateName">
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
        </div>
      </div>
      <div class="row">
            <div class="col">
              <h5> Participant Age: </h5>
            </div>
            <div class="col">
              <mat-radio-group aria-label="Select an option" ngModel="bookingIndividual.ParticipateAge">
                  <mat-radio-button  value="true">Yes</mat-radio-button>
                  <mat-radio-button  value="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5> Gender: </h5>
            </div>
            <div class="col">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="bookingIndividual.Gender">
                  <mat-radio-button value="true">Yes</mat-radio-button>
                  <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5> T-Shirt Size: </h5>
            </div>
            <div class="col">
              <mat-radio-group aria-label="Select an option"  [(ngModel)]="bookingIndividual.MerchSize">
                  <mat-radio-button value="true">Yes</mat-radio-button>
                  <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5> Allergy Information: </h5>
            </div>
            <div class="col">
              <mat-radio-group aria-label="Select an option"  [(ngModel)]="bookingIndividual.AllergyInfo">
                  <mat-radio-button value="true">Yes</mat-radio-button>
                  <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5> Special Information: </h5>
            </div>
            <div class="col">
              <mat-radio-group aria-label="Select an option"  [(ngModel)]="bookingIndividual.SpecialInfo">
                  <mat-radio-button value="true">Yes</mat-radio-button>
                  <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5> Insurance Provider Name: </h5>
            </div>
            <div class="col">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="bookingIndividual.InsureProviderName">
                  <mat-radio-button  value="true">Yes</mat-radio-button>
                  <mat-radio-button  value="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5> Insured Recipient Name: </h5>
            </div>
            <div class="col">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="bookingIndividual.InsureRecipientName">
                  <mat-radio-button value="true">Yes</mat-radio-button>
                  <mat-radio-button  value="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5> Insurance Policy Number: </h5>
            </div>
            <div class="col">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="bookingIndividual.InsurePolicyNo">
                  <mat-radio-button  value="true">Yes</mat-radio-button>
                  <mat-radio-button  value="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5> Insurance Phone Number: </h5>
            </div>
            <div class="col">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="bookingIndividual.InsurePhoneNo">
                  <mat-radio-button  value="true">Yes</mat-radio-button>
                  <mat-radio-button  value="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5> Authorized Pickup Name 1: </h5>
            </div>
            <div class="col">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="bookingIndividual.AuthorizedPickupName1">
                  <mat-radio-button  value="true">Yes</mat-radio-button>
                  <mat-radio-button  value="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5> Authorized Pickup Phone 1: </h5>
            </div>
            <div class="col">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="bookingIndividual.AuthorizedPickupPhone1">
                  <mat-radio-button  value="true">Yes</mat-radio-button>
                  <mat-radio-button  value="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5> Authorized Pickup Name 2: </h5>
            </div>
            <div class="col">
              <mat-radio-group aria-label="Select an option"[(ngModel)]="bookingIndividual.AuthorizedPickupName2">
                  <mat-radio-button  value="true">Yes</mat-radio-button>
                  <mat-radio-button  value="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5> Authorized Pickup Phone 2: </h5>
            </div>
            <div class="col">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="bookingIndividual.AuthorizedPickupPhone2">
                  <mat-radio-button  value="true">Yes</mat-radio-button>
                  <mat-radio-button  value="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5> Early Drop Off: </h5>
            </div>
            <div class="col">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="bookingIndividual.EarlyDropOff">
                  <mat-radio-button  value="true">Yes</mat-radio-button>
                  <mat-radio-button  value="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5> Late Pick-up: </h5>
            </div>
            <div class="col">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="bookingIndividual.LatePickup">
                  <mat-radio-button value="true">Yes</mat-radio-button>
                  <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5> Media Release: </h5>
            </div>
            <div class="col">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="bookingIndividual.MediaRelease">
                  <mat-radio-button  value="true">Yes</mat-radio-button>
                  <mat-radio-button  value="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5> Emergency Medical Release: </h5>
            </div>
            <div class="col">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="bookingIndividual.EmergencyMedicalRelease">
                  <mat-radio-button  value="true">Yes</mat-radio-button>
                  <mat-radio-button  value="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5> Liability Agreement</h5>
            </div>
            <div class="col">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="bookingIndividual.LiabilityAgreement">
                  <mat-radio-button  value="true">Yes</mat-radio-button>
                  <mat-radio-button  value="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
          </div>
        <div class="row">
          <div class="col">
            <h5> Full Amount: </h5>
          </div>
          <div class="col">
            <mat-radio-group aria-label="Select an option" [(ngModel)]="bookingIndividual.FullAmount">
                <mat-radio-button  value="true">Yes</mat-radio-button>
                <mat-radio-button  value="false">No</mat-radio-button>
              </mat-radio-group>
          </div>
        </div>
</div>