
<div class="banner">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Forgot Password</h3>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="resetPassword()" [formGroup]="myForm">
                        <!-- <p class="error" *ngIf="errorMessage">{{errorMessage}}</p> -->                        
                            <div class="input-group form-group mt-5 " >
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <fa-icon [icon]="faEnvelope"></fa-icon>
                                    </span>
                                </div>
                                <input type="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" class="form-control" autofocus placeholder="Enter your email to reset password" formControlName="email"
                                    [(ngModel)]="userInfo.Email"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.pattern">Must be a valid email address</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Reset" class="btn float-right reset-btn mt-5 mb-5">
                            </div>                        
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Register new account!<a [routerLink]="['/register']">Sign Up</a>
                    </div>
                </div>   
            </div>
        </div>
    </div>
</div>