
<div class="container py-5">
    <div class="row text-center text-blue mb-5">
        <div class="col-lg-7 mx-auto">
            <h1>Forgot Password</h1>
        </div>
    </div>
    <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
    <div *ngIf = "!submitted" class="row">
        <div class="col-md-12">
            <form (ngSubmit)="resetPassword()" [formGroup]="myForm">                    
                <!-- <div class="input-group form-group">
                    <label for="email">Enter your email to reset password</label>                        
                        <input type="email" name="email" autofocus formControlName="email" 
                        [(ngModel)]="userInfo.Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Must be a valid email address</div>
                    </div>
                </div> -->
                <fieldset class="form-group font-weight-bold" >
                    <div class="row">
                        <label class="col-form-label col-sm-4 pt-0 pl-0" for="email">Enter your email to reset password</label>
                        <div class="col-sm-8">                            
                        <input type="email" name="email" autofocus formControlName="email" 
                        [(ngModel)]="userInfo.Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Must be a valid email address</div>
                        </div>
                        </div>
                    </div>
                    </fieldset>
                <div class="input-group form-group">
                    <button type="submit" class="btn btn-primary" aria-pressed="true" value="Reset Password">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
