<div id="modal-content-wrapper" style="text-align: center;">
    <header id="modal-header">
        <button type="button" class="close" (click)="closeModal()">X</button>
        <div class="alert alert-success alert-dismissible fade show mb-0">
            <strong>Success!</strong> Please check your e-mail for a link to reset your password.
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show mb-0">
            <strong>Error!</strong> The e-mail was not found in our system.
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h2><img class="logo" src="https://static1.squarespace.com/static/5bb6555ef8135a760bccc650/t/5bb657c153450a81182db75a/1585949118301/" alt="" style="height:40px; width: 90px;"></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 id="modal-title">RESET PASSWORD</h1>
                    <br/>
                </div>
            </div>
        </div>
        <!-- <h1 id="modal-title">Forgot Password</h1>
        <h2><img class="logo" src="https://static1.squarespace.com/static/5bb6555ef8135a760bccc650/t/5bb657c153450a81182db75a/1585949118301/" alt="" style="height:40px; width: 90px;"></h2> -->
    </header>

    <mat-divider></mat-divider>
    <mat-dialog-content [formGroup]="resetForm">
        <!-- <p class="mt-2"> -->
            <mat-form-field appearance="standard">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email" required>
                <mat-error *ngIf="errorHandling('email', 'required')">Email is required</mat-error>
            </mat-form-field>
        <!-- </p> -->
    </mat-dialog-content>
    <br/>
    <p>
        <button mat-raised-button class="reset-btn mb-1" (click)="resetPassword()" onfocus="blur()">
            Reset
        </button>
    </p>
    <!-- <mat-divider></mat-divider> -->
    <!-- <div class="d-flex justify-content-between sign-up">
            <button (click)="createNew()" class = "link">
                Sign up
            </button>
            <button class="link" (click)="resetPassword()" style="color:#0886b8">
                Reset password
            </button>
    </div> -->
</div>