<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="row text-center text-white mb-5">
                <div class="col-lg-8 mx-auto">
                    <h1>Change Password</h1>
                </div>
            </div>
        </div>
    </div>
    <form (ngSubmit)="setNewPassword()" [formGroup]="changePasswordForm">
        <fieldset class="input-group form-group font-weight-bold">
            <div class="errorMessage" *ngIf = "errorMessage">
                <p>*{{errorMessage}}</p>
            </div>
            <div class="row">
                <label for="oldPassword" class="col-form-label col-sm-3 pt-0 pl-0 text-bold">Current Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" formControlName="oldPassword" placeholder="Current Password" 
                        [(ngModel)]="userData.currentPassword" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }">
                    <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.oldPassword.errors.required">Current Password is required</div>
                    </div>
                </div>
            </div>        
        </fieldset>
        <fieldset class="input-group form-group font-weight-bold">
            <div class="row">
                <label for="password" class="col-form-label col-sm-3 pt-0 pl-0 text-bold">New Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" formControlName="password" placeholder="New Password" 
                        [(ngModel)]="newPassword" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">New Password is required</div>
                        <div *ngIf="f.password.errors.minlength">New Password must be at least 6 characters</div>
                    </div>
                </div>
            </div> 
        </fieldset>
        <fieldset class="input-group form-group font-weight-bold">
            <div class="row">
                <label for="confirmPassword" class="col-form-label col-sm-3 pt-0 pl-0 text-bold">Confirm Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Re-enter New Password"
                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm New Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">New Passwords must match</div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="input-group form-group">
            <button type="submit" class="btn btn-lg btn-info btn-block" aria-pressed="true" value="Change Password">Change Password</button>
        </div>
    </form>
</div>