<div class="container py-5">
    <div class="row text-center text-blue mb-5">
        <div class="col-lg-7 mx-auto">
            <h1>Change Password</h1>
        </div>
    </div>
    <div *ngIf = "CurrentState == 'NotVerified'">
    <p>*{{errorMessage}}</p>
            <br>Click <button type="button" class="btn btn-primary btn-sm" [routerLink] = "['/login/forgot-password']">HERE</button> to go back to Forgot Password Page.
    </div>
    <div *ngIf = "successMessage">
        <p>*Password has been successfully updated. You are now redirecting to Login Page</p>
        <mat-spinner></mat-spinner>
    </div>
    <div class="row" *ngIf = "CurrentState == 'TokenValid' && !successMessage">
        <div class="col-md-12">
            <form (ngSubmit)="setNewPassword()" [formGroup]="resetPasswordForm">                    
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><fa-icon [icon]="faKey"></fa-icon></span>
                    </div>
                    <label for="currentPassword">Current Password</label>
                    <input type="password" class="form-control" formControlName="currentPassword" placeholder="Current Password" 
                        [(ngModel)]="currentPassword" [ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.currentPassword.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><fa-icon [icon]="faKey"></fa-icon></span>
                    </div>
                    <label for="password">Password</label>
                    <input type="password" class="form-control" formControlName="password" placeholder="Password" 
                        [(ngModel)]="newPassword" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><fa-icon [icon]="faCheckDouble"></fa-icon></span>
                    </div>
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Re-enter Password"
                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                    </div>
                </div>
                <div class="input-group form-group">
                    <button type="submit" class="btn btn-primary" aria-pressed="true" value="Update Password">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>