<div id="modal-content-wrapper" style="text-align: center;">
    <header id="modal-header">
        <button type="button" class="close" (click)="closeModal()" onfocus="blur()">X</button>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h2><img class="logo" src="https://static1.squarespace.com/static/5bb6555ef8135a760bccc650/t/5bb657c153450a81182db75a/1585949118301/" alt="" style="height:40px; width: 90px;"></h2>
                </div>
                <div class="col-md-9">
                    <h3>Reservation Details</h3>
                </div>
            </div>
            <div class="row">
                <h6>Here are the general information of the <strong>{{ReservationStatus}}</strong> reservations in the last 7 days.</h6>
            </div>
        </div>
    </header>

    <div class="table-responsive-sm hide-with-small">
        <!-- List of reservations for admin -->
        <table #datatable class="table table-hover" style="width:100%">
            <thead>
                <tr>
                    <th style="width:8%"> #Res </th>
                    <th style="width:23%"> Program Name </th>
                    <th style="width:12%"> Date </th>
                    <th style="width:17%"> Name </th>
                    <th style="width:10%"> Quantity </th>
                    <th style="width:10%"> Total </th>
                    <th *ngIf="ReservationStatus != 'Pending'" style="width:20%"> Remaining </th>
                    <th *ngIf="ReservationStatus == 'Pending'" style="width:20%"> Action </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reservation of reservations | paginate:{itemsPerPage: 5, currentPage:p}">
                    <td> {{reservation.ReservationPK}} </td>
                    <td> {{reservation.ProgramName}} </td>
                    <td> {{reservation.Date}}</td>
                    <td> {{reservation.CustomerName}} </td>
                    <td> {{reservation.NumberOfParticipant}} </td>
                    <td> ${{reservation.Total}} </td>
                    <td *ngIf="ReservationStatus != 'Pending'"> ${{reservation.RemainingBalance}} </td>
                    <td *ngIf="ReservationStatus == 'Pending'">
                        <button mat-raised-button class="btn btn-warning" type="submit" onfocus="blur()" (click)="acceptReservation(reservation.ReservationPK)">Accept</button>
                        <button mat-raised-button class="btn btn-danger ml-3" type="submit" onfocus="blur()" (click)="cancelReservation(reservation.ReservationPK)">Cancel</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-12">
                <pagination-controls class="float-right" (pageChange)="p=$event" autoHide="true" responsive="true">
                </pagination-controls>
            </div>
        </div>
    </div>

    <footer id ="modal-footer">
        <button mat-raised-button id="modal-cancel-button" class="btn-warning" (click)="closeModal()" onfocus="blur()" style="float:right"> Cancel</button>
    </footer>
</div>